{% extends 'base.html' %}
{% load static %}

    {% block head_block %}
    <!-- Mobiscroll JS and CSS Includes -->
    <link rel="stylesheet" href="{% static 'assets/event_calender/css/mobiscroll.javascript.min.css' %}">
    <script src="{% static 'assets/event_calender/js/mobiscroll.javascript.min.js' %}"></script>

    <style type="text/css">


    
    .md-recurring-event-editor-popup .md-recurrence-input .mbsc-textfield {
        width: 140px;
        height: 32px;
    }
    
    .md-recurring-event-editor-popup .md-recurrence-input-nr .mbsc-textfield {
        width: 90px;
    }
    
    .md-recurring-event-editor-popup .md-recurrence-input .mbsc-select-icon {
        top: 50%;
        height: 1.5em;
        margin-top: -0.75em;
    }
    
    .md-recurrence-options {
        padding: 0 1em;
        margin: 1em 0;
    }
    
    .md-recurrence-ends {
        padding: 0 1em;
        margin: 1.25em 0 -1.25em 0;
    }
    
    .md-recurrence-desc {
        font-size: 12px;
        font-weight: normal;
        color: #555;
        margin: 1em 0;
    }
    
    .md-hide-elm {
        display: none;
    }
    </style>
   {% endblock %}
   {% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">


    <div mbsc-page class="demo-recurring-event-add-edit-dialog">
        <div style="height:100%">
                <div id="demo-add-delete-event"></div>
    
    <div style="display: none;">
        <div id="demo-add-edit-popup">
            <form method="post">
                {% csrf_token %}
            <div class="mbsc-form-group">
             
                <label>
                    Title
                    <input mbsc-input name="title" required id="popup-event-title" />
                </label>
                <label>
                    Title
                    <input type="hidden"  id="event_id" />
                </label>
                <label>
                    Description
                    <textarea mbsc-textarea name="description" required  id="popup-event-description"></textarea>
                </label>
            </div>
            <div class="mbsc-form-group">
                <label>
                    <input mbsc-switch data-label="All-day" name="status" id="popup-event-all-day"   type="checkbox" />
                </label>
                <label>
                    <input mbsc-input data-label="Starts" required name="startstime" id="popup-event-start" />
                </label>
                <label>
                    <input mbsc-input data-label="Ends" required name="endtime" id="popup-event-end" />
                </label>
                <div id="popup-event-dates"></div>
                <label>
                    <input mbsc-input data-label="Event Type" required data-dropdown="true" name="repeats" id="popup-event-recurrence" />
                </label>
            </div>
            
       
            </form>
    
            <div id="popup-event-recurrence-editor">
                <div mbsc-segmented-group>
                    <label>
                        Daily
                        <input mbsc-segmented id="recurrence-repeat-daily" class="md-recurrence-repeat" name="recurrence-repeat" type="radio" value="daily" checked />
                    </label>
                    <label>
                        Weekly
                        <input mbsc-segmented id="recurrence-repeat-weekly" class="md-recurrence-repeat" name="recurrence-repeat" type="radio" value="weekly" />
                    </label>
                    <label>
                        Monthly
                        <input mbsc-segmented id="recurrence-repeat-monthly" class="md-recurrence-repeat" name="recurrence-repeat" type="radio" value="monthly" />
                    </label>
                    <label>
                        Yearly
                        <input mbsc-segmented id="recurrence-repeat-yearly" class="md-recurrence-repeat" name="recurrence-repeat" type="radio" value="yearly" />
                    </label>
                </div>
    
                <div class="md-recurrence-options">
                    <span>Repeat every</span>
                    <span class="md-recurrence-input md-recurrence-input-nr">
                        <label>
                            <input id="recurrence-interval" mbsc-input data-input-style="outline" type="number" min="1" />
                        </label>
                    </span>
    
                    <span class="md-recurrence-text md-recurrence-daily">day(s)</span>
                    <span class="md-recurrence-text md-recurrence-weekly">week(s) on</span>
    
                    <span class="md-recurrence-text md-recurrence-monthly">
                        month(s) on day
                        <span class="md-recurrence-input md-recurrence-input-nr">
                            <label>
                                <input id="recurrence-day" mbsc-input data-dropdown="true" data-input-style="outline" />
                            </label>
                        </span>
                    </span>
    
                    <span class="md-recurrence-text md-recurrence-yearly">
                        year(s) <br />on day
                        <span class="md-recurrence-input md-recurrence-input-nr">
                            <label>
                                <input id="recurrence-month-day" mbsc-input data-dropdown="true" data-input-style="outline" />
                            </label>
                        </span>
                    <span>of</span>
                    <span class="md-recurrence-input">
                            <label>
                                <input id="recurrence-month" mbsc-input data-dropdown="true" data-input-style="outline" />
                            </label>
                        </span>
                    </span>
                    <div>
                        <p class="md-recurrence-desc md-recurrence-text md-recurrence-daily">The event will be repeated every day or every x days, depending on the value</p>
                        <p class="md-recurrence-desc md-recurrence-text md-recurrence-weekly">The event will be repeated every x weeks on specific weekdays</p>
                        <p class="md-recurrence-desc md-recurrence-text md-recurrence-monthly">The event will be repeated every x months on specific day of the month</p>
                        <p class="md-recurrence-desc md-recurrence-text md-recurrence-yearly">The event will be repeated every x years on specific day of a specific month</p>
                    </div>
                </div>
    
                <div class="md-recurrence-text md-recurrence-weekly" mbsc-segmented-group>
                    <label>
                        Sun
                        <input mbsc-segmented class="md-recurrence-weekdays" type="checkbox" value="SU" />
                    </label>
                    <label>
                        Mon
                        <input mbsc-segmented class="md-recurrence-weekdays" type="checkbox" value="MO" />
                    </label>
                    <label>
                        Tue
                        <input mbsc-segmented class="md-recurrence-weekdays" type="checkbox" value="TU" />
                    </label>
                    <label>
                        Wed
                        <input mbsc-segmented class="md-recurrence-weekdays" type="checkbox" value="WE" />
                    </label>
                    <label>
                        Thu
                        <input mbsc-segmented class="md-recurrence-weekdays" type="checkbox" value="TH" />
                    </label>
                    <label>
                        Fri
                        <input mbsc-segmented class="md-recurrence-weekdays" type="checkbox" value="FR" />
                    </label>
                    <label>
                        Sat
                        <input mbsc-segmented class="md-recurrence-weekdays" type="checkbox" value="SA" />
                    </label>
                </div>
    
                <div class="md-recurrence-ends">Ends</div>
    
                <div class="mbsc-form-group">
                    <label>
                        <input mbsc-radio id="recurrence-condition-never" class="md-recurrence-condition" type="radio" name="recurrence-condition" value="never" data-label="Never" data-position="start" data-description="The event will repeat indefinitely" checked />
                    </label>
                    <label>
                        <input mbsc-radio id="recurrence-condition-until" class="md-recurrence-condition" type="radio" name="recurrence-condition" value="until" data-position="start" data-description="The event will run until it reaches a specific date" />
                        Until
                        <span class="md-recurrence-input">
                            <label>
                                <input id="recurrence-until" mbsc-input data-input-style="outline" placeholder="Select a date" />
                            </label>
                    </span>
                    </label>
                    <label>
                        <input mbsc-radio id="recurrence-condition-count" class="md-recurrence-condition" type="radio" name="recurrence-condition" value="count" data-position="start" data-description="The event will repeat until it reaches a certain amount of occurrences" />
                        After
                        <span class="md-recurrence-input md-recurrence-input-nr">
                            <label>
                                <input id="recurrence-count" mbsc-input data-input-style="outline" type="number" min="1" />
                            </label>
                    </span>
                    occurrences
                    </label>
                </div>
            </div>
    
            <div class="mbsc-button-group">
                <button class="mbsc-button-block" id="popup-event-delete" mbsc-button data-color="danger" onclick="delete_event_js()" data-variant="outline">Delete event</button>
            </div>
        </div>
        <div id="demo-recurrence-edit-mode-popup">
            <div class="mbsc-form-group">
                <div class="mbsc-form-group-title"><span id="recurrence-edit-mode-text"></span> recurring event</div>
                <label>
                    <input mbsc-radio id="recurrence-edit-mode-current" class="md-recurrence-edit-mode" data-label="This event only" value="current" name="recurrence-edit-mode" type="radio" checked />
                </label>
                <label>
                    <input mbsc-radio id="recurrence-edit-mode-following" class="md-recurrence-edit-mode" data-label="This and following events" value="following" name="recurrence-edit-mode" type="radio" />
                </label>
                <label>
                    <input mbsc-radio id="recurrence-edit-mode-all" class="md-recurrence-edit-mode" data-label="All events" value="all" name="recurrence-edit-mode" type="radio" />
                </label>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>
        
<div class="col-md-3">

    
    
        <div class="row">
            <div class="main-header">
               <h4>To Do List</h4>
            </div>
         </div>
         <!-- modal Start -->
    
         <div class="col" style="padding: 30px;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="float:right;">Add</button><br>
    </div>
    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
             
              {% if edit %}         
              <h4> Edit To Do List </h4>
              {% else %}
              <h5 class="modal-title">To Do List</h5>                         
              {% endif %} 
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="post">
                  {% csrf_token %}
              <div class="row">
                {% for data in form %}
                <div class="col-md-4 mb-3">
                    {{data.label_tag}}
                  {{ data }}
                </div>
                {% endfor %}
              </div>
              <br>
              <center>
             
              <button type="submit" class="btn btn-primary">Submit</button>
              
            </center>
            </form>
            </div>
          </div>
        </div>
      </div>
      
         <!-- modal End -->
    
       
         <br>
         {% if 'event_Calendar_view' in request.permissions or request.user.is_superuser %}
           <div class="col-md-12">
               <div class="card" style="padding: 6px; font-size: small;">
                  <h4>To Do List</h4>
                  {% if 'event_Calendar_add' in request.permissions or request.user.is_superuser %}
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="float:right;">+</button>
                  {% endif %}
                  <div class="table-responsive">
                  <table class="table" >
                  
                      <tbody>
                          {% for data in record %}
                            <tr>
                              <td><input type="checkbox" name="" onclick="update_task('{{data.id}}')" id="id_check_calenadar" {% if data.status == 'completed' %}checked{% endif %}></td>
                                <td>{{data.title}}<br> {{data.date}}</td>
                              <td>
                                  {% if 'event_Calendar_edit' in request.permissions or request.user.is_superuser %}
                                <a href="{% url 'calendarnofication_edit' data.id %}" class="bozero"><span data-toggle="tooltip" title="edit"style="color: black;"><i class='fa fa-edit'></i></a>
                                  {% endif %}
                                  {% if 'event_Calendar_delete' in request.permissions or request.user.is_superuser %}
                                <a href="{% url 'calendarnofication_delete' data.id %}" class="bozero"><span data-toggle="tooltip" title="delete"style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                                  {% endif %}
                                 </td>
                          </tr>
                          {% endfor %}
                        
                      </tbody>
              
                  </table>
                  </div>
               </div>
           </div>
           {% endif %}
     </div>
         <!-- modal Start -->
    
              
                 <!-- modal End -->
    
    
</div>
</div>

    <script>
        
            mobiscroll.setOptions({
        locale: mobiscroll.localeEn,                 // Specify language like: locale: mobiscroll.localePl or omit setting to use default
        theme: 'ios',                                // Specify theme like: theme: 'ios' or omit setting to use default
        themeVariant: 'light'                        // More info about themeVariant: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-themeVariant
    });
    // var data = {
    //         {% for record in records %}
    // '{{ record.startstime|date:"Y-m-d" }}': '{{ record.endtime }}',
    //     {% endfor %}
    //     };
    function getMonthDays(month) {
        var values = [];
        for (var i = 1; i <= MAX_MONTH_DAYS[month - 1]; i++) {
            values.push(i);
        }
        return values;
    }
    
    function getRecurrenceText() {
        var text;
    
        switch (recurrenceRepeat) {
            case 'daily':
                text = recurrenceInterval > 1 ? ('Every ' + recurrenceInterval + ' days') : 'Daily';
                break;
            case 'weekly':
                var weekDays = recurrenceWeekDays.split(',');
                var weekDaysText = weekDays.map(function (weekDay) {
                    return DAY_NAMES[DAY_NAMES_MAP[weekDay]];
                }).join(', ');
                text = recurrenceInterval > 1 ? ('Every ' + recurrenceInterval + ' weeks') : 'Weekly';
                text += ' on ' + weekDaysText;
                break;
            case 'monthly':
                text = recurrenceInterval > 1 ? ('Every ' + recurrenceInterval + ' months') : 'Monthly';
                text += ' on day ' + recurrenceDay;
                break;
            case 'yearly':
                text = recurrenceInterval > 1 ? ('Every ' + recurrenceInterval + ' years') : 'Annualy';
                text += ' on ' + MONTH_NAMES[recurrenceMonth - 1] + ' ' + recurrenceDay;
                break;
        }
    
        switch (recurrenceCondition) {
            case 'until':
                text += ' until ' + mobiscroll.util.datetime.formatDate('MMMM D, YYYY', new Date(recurrenceUntil));
                break;
            case 'count':
                text += ', ' + recurrenceCount + ' times';
                break;
        }
    
        return text;
    }
    
    function getRecurrenceRule() {
        var d = new Date(eventStart);
        var weekNr = Math.ceil(d.getDate() / 7);
        var weekDay = DAY_NAMES_SHORT[d.getDay()];
        var month = d.getMonth() + 1;
        var monthDay = d.getDate();
    
        switch (eventRecurrence) {
            // Predefined recurring rules
            case 'daily':
                return { repeat: 'daily' };
            case 'weekly':
                return { repeat: 'weekly', weekDays: weekDay };
            case 'monthly':
                return { repeat: 'monthly', day: monthDay };
            case 'monthly-pos':
                return { repeat: 'monthly', weekDays: weekDay, pos: weekNr };
            case 'yearly':
                return { repeat: 'yearly', day: monthDay, month: month };
            case 'yearly-pos':
                return { repeat: 'yearly', weekDays: weekDay, month: month, pos: weekNr };
            case 'weekday':
                return { repeat: 'weekly', weekDays: 'MO,TU,WE,TH,FR' };
                // Custom recurring rule
            case 'custom':
            case 'custom-value':
                var rule = {
                    repeat: recurrenceRepeat,
                    interval: recurrenceInterval
                };
                switch (recurrenceRepeat) {
                    case 'weekly':
                        rule.weekDays = recurrenceWeekDays;
                        break;
                    case 'monthly':
                        rule.day = recurrenceDay;
                        break;
                    case 'yearly':
                        rule.day = recurrenceDay;
                        rule.month = recurrenceMonth;
                        break;
                }
                switch (recurrenceCondition) {
                    case 'until':
                        rule.until = recurrenceUntil;
                        break;
                    case 'count':
                        rule.count = recurrenceCount;
                        break;
                }
                return rule;
            default:
                return null;
        }
    }
    
    function getRecurrenceTypes(date, recurrence) {
        var d = new Date(date);
        var weekDay = DAY_NAMES[d.getDay()];
        var weekNr = Math.ceil(d.getDate() / 7);
        var month = MONTH_NAMES[d.getMonth()].text;
        var monthDay = d.getDate();
        var ordinal = { 1: 'first', 2: 'second', 3: 'third', 4: 'fourth', 5: 'fifth' };
        var data = [
            { value: '', text: '' },
            { value: 'Public', text: 'Public' },
            { value: 'Private', text: 'Private' },
            { value: 'All super Admin', text: 'All super Admin'  },
            { value: 'Protected', text: 'Protected' },
         
        ];
        if (recurrence === 'custom-value') {
            data.push({ value: 'custom-value', text: getRecurrenceText() });
        }
        return data;
    }
    
    function getEventRecurrence(event) {
        var recurringRule = event.recurring;
        if (recurringRule) {
            var repeat = recurringRule.repeat;
            if (recurringRule.interval > 1 || recurringRule.count || recurringRule.until) {
                return 'custom-value';
            }
            switch (repeat) {
                case 'weekly':
                    var weekDays = recurringRule.weekDays || '';
                    if (weekDays === 'MO,TU,WE,TH,FR') {
                        return 'weekday';
                    }
                    if (weekDays.split(',').length > 1) {
                        return 'custom-value';
                    }
                case 'monthly':
                case 'yearly':
                    if (recurringRule.pos) {
                        return repeat + '-pos';
                    }
                default:
                    return repeat;
            }
        }
        return 'norepeat';
    }
    
    function toggleDatetimePicker(allDay) {
        // Toggle between date and datetime picker
        eventStartEndPicker.setOptions({
            controls: allDay ? ['date'] : ['datetime'],
            responsive: allDay ? { medium: { controls: ['calendar'], touchUi: false } } : { medium: { controls: ['calendar', 'time'], touchUi: false } }
        });
    }
    
    function toggleRecurrenceEditor(recurrence) {
        if (recurrence === 'custom') {
            eventRecurrenceEditorElm.classList.remove('md-hide-elm');
        } else {
            eventRecurrenceEditorElm.classList.add('md-hide-elm');
        }
    }
    
    function toggleRecurrenceText(repeat) {
        document.querySelectorAll('.md-recurrence-text').forEach(function (elm) {
            if (elm.classList.contains('md-recurrence-' + repeat)) {
                elm.classList.remove('md-hide-elm');
            } else {
                elm.classList.add('md-hide-elm');
            }
        });
    }
    
    function navigateToEvent(event) {
        var d = new Date(event.start);
        var year = d.getFullYear();
        var month = d.getMonth();
        var day = d.getDate();
        var recurringRule = event.recurring;
        var addMonth = 0;
        var addYear = 0;
        if (recurringRule) {
            var recurringDay = recurringRule.day;
            var recurringMonth = recurringRule.month - 1;
            switch (recurringRule.repeat) {
                case 'monthly':
                    if (day > recurringDay) {
                        addMonth = recurringRule.interval || 1;
                    }
                    day = recurringDay;
                    break;
                case 'yearly':
                    if (month > recurringMonth || (month === recurringMonth - 1 && day > recurringDay)) {
                        addYear = recurringRule.interval || 1;
                    }
                    day = recurringDay;
                    month = recurringMonth;
                    break;
            }
        }
        calendar.navigate(new Date(year + addYear, month + addMonth, day, d.getHours()));
    }
    
    function updateRecurringEvent() {
        var editFromPopup = addEditPopup.isVisible();
    
        var updatedEvent = {
            title: eventTitle,
            description: eventDescription,
            allDay: eventAllDay,
            color: eventColor,
            start: eventStart,
            end: eventEnd,
        }
    
        if (recurrenceEditMode !== 'current') {
            updatedEvent.id = eventId;
            updatedEvent.recurring = getRecurrenceRule();
            updatedEvent.recurringException = eventRecurringException;
        }
    
        var result = mobiscroll.updateRecurringEvent(
            originalRecurringEvent,
            eventOccurrence,
            editFromPopup ? null : newEvent,
            editFromPopup ? updatedEvent : null,
            recurrenceEditMode,
        );
    
        if (result.newEvent) {
            calendar.addEvent(result.newEvent);
        }
    
        calendar.updateEvent(result.updatedEvent);
    }
    
    function deleteRecurringEvent() {
        switch (recurrenceEditMode) {
            case 'following':
                var d = new Date(eventStart);
                originalRecurringEvent.recurring.until = new Date(d.getFullYear(), d.getMonth(), d.getDate());
                calendar.updateEvent(originalRecurringEvent);
                break;
            case 'all':
                calendar.removeEvent(originalRecurringEvent);
                break;
            default:
                eventRecurringException.push(eventStart);
                originalRecurringEvent.recurringException = eventRecurringException;
                calendar.updateEvent(originalRecurringEvent);
        }
    }
    
    // Fills the popup with the event's data
    function fillPopup(event) {
        
        // Load event properties
        eventId = event.id;
        $('#event_id').val(eventId);
        eventTitle = event.title || '';
        eventDescription = event.description || '';
        eventAllDay = event.allDay;
        eventStart = event.start;
        eventEnd = event.end;
        eventColor = event.color;
        eventRecurringException = event.recurringException || [];
        eventRecurrence = getEventRecurrence(event);
    
        // Load recurrence rule properties, with default values
        var recurringRule = event.recurring || {};
        recurrenceRepeat = recurringRule.repeat || 'daily';
        recurrenceInterval = recurringRule.interval || 1;
        recurrenceCondition = recurringRule.until ? 'until' : (recurringRule.count ? 'count' : 'never');
        recurrenceMonth = recurringRule.month || 1;
        recurrenceDay = recurringRule.day || 1;
        recurrenceWeekDays = recurringRule.weekDays || 'SU';
        recurrenceCount = recurringRule.count || 10;
        recurrenceUntil = recurringRule.until;
    
        // Set event fields
        mobiscroll.getInst(eventTitleElm).value = eventTitle;
        mobiscroll.getInst(eventDescriptionElm).value = eventDescription;
        mobiscroll.getInst(eventAllDayElm).value = eventAllDay;
        eventStartEndPicker.setVal([eventStart, eventEnd]);
        eventRecurrenceSelect.setOptions({ data: getRecurrenceTypes(eventStart, eventRecurrence) });
        eventRecurrenceSelect.setVal(eventRecurrence);
        toggleDatetimePicker(eventAllDay);
        toggleRecurrenceEditor(eventRecurrence);
    
        // Set custom recurring rule field values
        recurrenceIntervalElm.value = recurrenceInterval;
        recurrenceCountElm.value = recurrenceCount;
        recurrenceMonthSelect.setVal(recurrenceMonth);
        recurrenceDaySelect.setVal(recurrenceDay);
        recurrenceMonthDaySelect.setVal(recurrenceDay);
        recurrenceUntilDatepicker.setVal(recurrenceUntil);
        mobiscroll.getInst(document.getElementById('recurrence-repeat-' + recurrenceRepeat)).checked = true;
        mobiscroll.getInst(document.getElementById('recurrence-condition-' + recurrenceCondition)).checked = true;
        recurrenceWeekDaysElms.forEach(function (elm) {
            mobiscroll.getInst(elm).checked = recurrenceWeekDays.includes(elm.value);
        });
        toggleRecurrenceText(recurrenceRepeat);
    }
    
    function createAddPopup(event, target) {
        var success = false;
    
        // Hide delete button inside add popup
        eventDeleteButtonElm.parentElement.classList.add('md-hide-elm');
    
        // Set popup header text and buttons
        addEditPopup.setOptions({
            anchor: target,                          // More info about anchor: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-anchor
            headerText: 'New event',                 // More info about headerText: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-headerText
            buttons: ['Cancel', {                    // More info about buttons: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-buttons
                text: 'Save',
                keyCode: 'enter',
                handler: function () {
                    var newEvent = {
                        id: eventId,
                        title: eventTitle,
                        description: eventDescription,
                        allDay: eventAllDay,
                        start: eventStart,
                        end: eventEnd,
                        recurring: getRecurrenceRule(),
                    };
                    var url = "{% url 'event_calendar_save' %}";
                        $.ajax({
                        url: url,
                        data: {
                            'eventId': eventId,
                            'eventTitle':eventTitle,
                            'description':eventDescription,
                            'start':eventStart,
                            'end':eventEnd,
                        },
                        success: function (data) {
                            alert('success');
                         
                        },
                        error: function (data) {
                            console.log(data);
                        }
                        });
                    
                    calendar.updateEvent(newEvent);
                    navigateToEvent(newEvent);
                    success = true;
                    addEditPopup.close();
                },
                cssClass: 'mbsc-popup-button-primary'
            }],
            onClose: function () {                   // More info about onClose: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#event-onClose
                // Remove event if popup is cancelled
                if (!success) {
                    calendar.removeEvent(event);
                }
            }
        });
    
        fillPopup(event);
        addEditPopup.open();
    }
    
    function createEditPopup(event, target) {
        // Show delete button inside edit popup
     
        eventDeleteButtonElm.parentElement.classList.remove('md-hide-elm');
    
        editedEvent = event;
        originalRecurringEvent = event.recurring ? event.original : null;
        eventOccurrence = event;
    
        // Set popup header text and buttons
        addEditPopup.setOptions({
            
            headerText: 'Edit event',                // More info about headerText: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-headerText
            anchor: target,                          // More info about anchor: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-anchor
            buttons: ['cancel', {                    // More info about buttons: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-buttons
                text: 'save',
                keyCode: 'enter',
                handler: function () {
                    if (originalRecurringEvent) {
                        // TODO: don't allow current update if recurring rule is changed
                        createRecurrenceEditPopup(false);
                    } else {
                        var updatedEvent = {
                            id: eventId,
                            title: eventTitle,
                            description: eventDescription,
                            allDay: eventAllDay,
                            start: eventStart,
                            end: eventEnd,
                            recurring: getRecurrenceRule(),
                        };
                        var url = "{% url 'eventcalendar_edit' %}";
                        $.ajax({
                        url: url,
                        data: {
                            'eventId': eventId,
                            'eventTitle':eventTitle,
                            'description':eventDescription,
                            'start':eventStart,
                            'end':eventEnd,
                        },
                        success: function (data) {
                            alert('success');
                         
                        },
                        error: function (data) {
                            console.log(data);
                        }
                        });
                        calendar.updateEvent(updatedEvent);
                        navigateToEvent(updatedEvent);
                        addEditPopup.close();
                    }
                },
                cssClass: 'mbsc-popup-button-primary'
            }],
        });
       
        fillPopup(event);
        addEditPopup.open();
    }
    function convertDate(inputDateText) {
        alert(inputDateText);
        var inputDate = new Date(inputDateText.replace('.', '').replace(',', '').replace('midnight', '12:00 AM'));
        var outputDate = inputDate.toISOString().slice(0, 16).replace('T', ' ');
    return outputDate;alert(outputDate);
            return outputDate;
        }
    function createRecurrenceEditPopup(isDelete) {
        recurrenceEditModeTextElm.textContent = isDelete ? 'Delete' : 'Edit';
        recurrenceDelete = isDelete;
        recurrenceEditModePopup.open();
        
    }
    
    var MAX_MONTH_DAYS = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
    var DAY_NAMES = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    var DAY_NAMES_SHORT = ['SU', 'MO', 'TU', 'WE', 'TH', 'FR', 'SA'];
    var DAY_NAMES_MAP = { 'SU': 0, 'MO': 1, 'TU': 2, 'WE': 3, 'TH': 4, 'FR': 5, 'SA': 6 };
    var MONTH_NAMES = [
        { value: 1, text: 'January' },
        { value: 2, text: 'February' },
        { value: 3, text: 'March' },
        { value: 4, text: 'April' },
        { value: 5, text: 'May' },
        { value: 6, text: 'June' },
        { value: 7, text: 'July' },
        { value: 8, text: 'August' },
        { value: 9, text: 'September' },
        { value: 10, text: 'October' },
        { value: 11, text: 'November' },
        { value: 12, text: 'December' },
    ];
    
    var originalRecurringEvent;
    var eventOccurrence;
    var newEvent;
    var editedEvent;
    
    var eventId;
    var eventTitle;
    var eventDescription;
    var eventAllDay;
    var eventStart;
    var eventEnd;
    var eventColor;
    var eventRecurrence;
    var eventRecurringException;
    
    var recurrenceRepeat;
    var recurrenceInterval;
    var recurrenceCondition;
    var recurrenceMonth;
    var recurrenceDay;
    var recurrenceWeekDays;
    var recurrenceCount;
    var recurrenceUntil;
    var recurrenceDelete;
    var recurrenceEditMode = 'current';
    
    var eventTitleElm = document.getElementById('popup-event-title');
    var eventDescriptionElm = document.getElementById('popup-event-description');
    var eventAllDayElm = document.getElementById('popup-event-all-day');
    var eventDeleteButtonElm = document.getElementById('popup-event-delete');
    var eventRecurrenceEditorElm = document.getElementById('popup-event-recurrence-editor');
    
    var recurrenceIntervalElm = document.getElementById('recurrence-interval');
    var recurrenceCountElm = document.getElementById('recurrence-count');
    var recurrenceEditModeTextElm = document.getElementById('recurrence-edit-mode-text');
    var recurrenceWeekDaysElms = document.querySelectorAll('.md-recurrence-weekdays');
    
    var myEvents = [
        {% for data in records %}
        {
        id: {{data.id}},
        start: '{{data.startstime|date:"Y-m-d H:i"}}',
        end: '{{data.endtime|date:"Y-m-d H:i"}}',
        title: '{{data.title}}',
        allDay: false,
        color: '#7FFFD4'
    }, 
    {% endfor %}
];
    
    // Init the event calendar
    var calendar = mobiscroll.eventcalendar('#demo-add-delete-event', {
        clickToCreate: 'double',                     // More info about clickToCreate: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-clickToCreate
        dragToCreate: true,                          // More info about dragToCreate: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-dragToCreate
        dragToMove: true,                            // More info about dragToMove: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-dragToMove
        dragToResize: true,                          // More info about dragToResize: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-dragToResize
        view: {                                      // More info about view: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-view
            calendar: { labels: true }
        },
        data: myEvents,                              // More info about data: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-data
        onEventClick: function (args) {              // More info about onEventClick: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#event-onEventClick
            createEditPopup(args.event, args.domEvent.currentTarget);
        },
        onEventUpdate: function (args) {             // More info about onEventUpdate: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#event-onEventUpdate
            var event = args.event;
            if (event.recurring) {
                originalRecurringEvent = args.oldEvent;
                eventOccurrence = args.oldEventOccurrence;
                if (args.isDelete) {
                    eventRecurringException = originalRecurringEvent.recurringException || [];
                    eventStart = eventOccurrence.start;
                    createRecurrenceEditPopup(true);
                } else {
                    createRecurrenceEditPopup(false);
                }
                return false;
            }
        },
        onEventCreate: function (args) {             // More info about onEventCreate: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#event-onEventCreate
            if (args.originEvent) {
                // Store created event on recurring occurrence drag
                newEvent = args.event;
                // Prevent event creation on recurring occurrence drag
                return false;
            }
        },
        onEventCreated: function (args) {            // More info about onEventCreated: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#event-onEventCreated
            createAddPopup(args.event, args.target);
        }
    });
    
    // Init event start/end date picker
    var eventStartEndPicker = mobiscroll.datepicker('#popup-event-dates', {
        controls: ['date'],
        select: 'range',
        startInput: '#popup-event-start',
        endInput: '#popup-event-end',
        showRangeLabels: false,
        touchUi: true,
        responsive: { medium: { touchUi: false } },  // More info about responsive: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-responsive
        onChange: function (args) {
            var dates = args.value;
            eventStart = dates[0];
            eventEnd = dates[1];
            eventRecurrenceSelect.setOptions({ data: getRecurrenceTypes(eventStart) });
        }
    });
    
    // Init event recurrence select
    var eventRecurrenceSelect = mobiscroll.select('#popup-event-recurrence', {
        data: [],                                    // More info about data: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-data
        touchUi: true,
        responsive: { small: { touchUi: false } },   // More info about responsive: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-responsive
        onChange: function (args) {
            eventRecurrence = args.value;
            toggleRecurrenceEditor(eventRecurrence);
        }
    });
    
    // Init recurring event month day selection for monthly recurrence
    var recurrenceDaySelect = mobiscroll.select('#recurrence-day', {
        data: getMonthDays(1),                       // More info about data: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-data
        touchUi: true,
        responsive: { small: { touchUi: false } },   // More info about responsive: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-responsive
        maxWidth: 80,
        onChange: function (args) {
            recurrenceDay = args.value;
        }
    });
    
    // Init recurring rule month selection for yearly recurrence
    var recurrenceMonthSelect = mobiscroll.select('#recurrence-month', {
        data: MONTH_NAMES,                           // More info about data: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-data
        touchUi: true,
        responsive: { small: { touchUi: false } },   // More info about responsive: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-responsive
        onChange: function (args) {
            recurrenceMonth = args.value;
            var maxDay = MAX_MONTH_DAYS[recurrenceMonth - 1];
            if (recurrenceDay > maxDay) {
                recurrenceMonthDaySelect.setVal(maxDay);
            }
            recurrenceMonthDaySelect.setOptions({ data: getMonthDays(recurrenceMonth) });
        }
    });
    
    // Init recurring event month day selection for yearly recurrence
    var recurrenceMonthDaySelect = mobiscroll.select('#recurrence-month-day', {
        data: getMonthDays(1),                       // More info about data: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-data
        touchUi: true,
        responsive: { small: { touchUi: false } },   // More info about responsive: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-responsive
        maxWidth: 80,
        onChange: function (args) {
            recurrenceDay = args.value;
        }
    });
    
    // Init the until datepicker
    var recurrenceUntilDatepicker = mobiscroll.datepicker('#recurrence-until', {
        controls: ['calendar'],
        display: 'anchored',                         // Specify display mode like: display: 'bottom' or omit setting to use default
        touchUi: false,
        dateFormat: 'YYYY-MM-DD',                    // More info about dateFormat: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#localization-dateFormat
        returnFormat: 'iso8601',
        onChange: function (args) {
            recurrenceUntil = args.value;
        },
        onOpen: function () {
            // Check the until stop condition radio
            recurrenceCondition = 'until';
            mobiscroll.getInst(document.getElementById('recurrence-condition-until')).checked = true;
        }
    });
    
    // Init popup for event create/edit
    var addEditPopup = mobiscroll.popup('#demo-add-edit-popup', {
        display: 'bottom',                           // Specify display mode like: display: 'bottom' or omit setting to use default
        contentPadding: false,
        fullScreen: true,
        scrollLock: false,
        height: 500,                                 // More info about height: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-height
        responsive: {                                // More info about responsive: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-responsive
            medium: {
                display: 'anchored',                         // Specify display mode like: display: 'bottom' or omit setting to use default
                width: 510,                          // More info about width: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-width
                fullScreen: false,
                touchUi: false
            }
        },
        cssClass: 'md-recurring-event-editor-popup'
    });
    
    // Init recurring edit mode popup
    var recurrenceEditModePopup = mobiscroll.popup('#demo-recurrence-edit-mode-popup', {
        display: 'bottom',                           // Specify display mode like: display: 'bottom' or omit setting to use default
        contentPadding: false,
        buttons: ['cancel', {
            text: 'Ok',
            keyCode: 'enter',
            handler: function () {
                if (recurrenceDelete) {
                    deleteRecurringEvent();
                } else {
                    updateRecurringEvent();
                }
                addEditPopup.close();
                recurrenceEditModePopup.close();
            },
            cssClass: 'mbsc-popup-button-primary'
        }],
        onClose: function () {
            // Reset edit mode to current
            recurrenceEditMode = 'current';
            mobiscroll.getInst(document.getElementById('recurrence-edit-mode-current')).checked = true;
        },
        responsive: {                                // More info about responsive: https://docs.mobiscroll.com/5-26-1/javascript/eventcalendar#opt-responsive
            medium: {
                display: 'center',                   // Specify display mode like: display: 'bottom' or omit setting to use default
                fullScreen: false,
                touchUi: false
            }
        },
        cssClass: 'md-recurring-event-editor-popup'
    });
    
    // Attach event handlers
    
    eventTitleElm.addEventListener('input', function (ev) {
        eventTitle = ev.target.value;
    });
    
    eventDescriptionElm.addEventListener('change', function (ev) {
        eventDescription = ev.target.value;
    });
    
    eventAllDayElm.addEventListener('change', function (ev) {
        eventAllDay = ev.target.checked;
        toggleDatetimePicker(eventAllDay);
    });
    
    eventDeleteButtonElm.addEventListener('click', function () {
        if (editedEvent.recurring) {
            createRecurrenceEditPopup(true);
        } else {
            calendar.removeEvent(editedEvent);
            addEditPopup.close();
        }
    });
    
    recurrenceWeekDaysElms.forEach(function (elm) {
        elm.addEventListener('change', function () {
            var values = [];
            recurrenceWeekDaysElms.forEach(function (ev) {
                if (ev.checked) {
                    values.push(ev.value);
                }
            });
            recurrenceWeekDays = values.join(',');
        });
    });
    
    recurrenceIntervalElm.addEventListener('change', function (ev) {
        var value = +ev.target.value;
        recurrenceInterval = !value || value < 1 ? 1 : value;
        ev.target.value = recurrenceInterval;
    });
    
    recurrenceCountElm.addEventListener('change', function (ev) {
        var value = +ev.target.value;
        recurrenceCount = !value || value < 1 ? 1 : value;
        ev.target.value = recurrenceCount;
    });
    
    recurrenceCountElm.addEventListener('click', function () {
        // Check the count stop condition radio
        recurrenceCondition = 'count';
        mobiscroll.getInst(document.getElementById('recurrence-condition-count')).checked = true;
    });
    
    document.querySelectorAll('.md-recurrence-repeat').forEach(function (elm) {
        elm.addEventListener('change', function (ev) {
            recurrenceRepeat = ev.target.value;
            toggleRecurrenceText(recurrenceRepeat);
        });
    });
    
    document.querySelectorAll('.md-recurrence-edit-mode').forEach(function (elm) {
        elm.addEventListener('change', function (ev) {
            recurrenceEditMode = ev.target.value;
        });
    });
    
    document.querySelectorAll('.md-recurrence-condition').forEach(function (elm) {
        elm.addEventListener('change', function (ev) {
            recurrenceCondition = ev.target.value;
        });
    });
    </script>
    <script>
        function delete_event_js(){
           var id =  $('#event_id').val()
           var url = "{% url 'event_calendar_delete' %}";
            $.ajax({
            url: url,
            data: {
                'id': id,
            },
            success: function (data) {
                alert('success');
                
            },
            error: function (data) {
                console.log(data);
            }
            });
        }

        
    </script>
    <script>
        $(document).ready(function () {
          // Open the modal when the page is loaded
          $('.bd-example-modal-lg').modal('show');
      
        });
      </script>
      
      
      


      <script>
        // Get the modal element and close button
        const modal = document.getElementById("myModal");
        const closeButton = modal.querySelector(".close");
      
        // Add event listener to close button
        closeButton.addEventListener("click", function () {
          closeModalAndRedirect();
        });
      
        // Add event listener to modal overlay
        modal.addEventListener("click", function (event) {
          if (event.target === modal) {
            closeModalAndRedirect();
          }
        });
      
        // Function to close the modal and perform the redirection
        function closeModalAndRedirect() {
          modal.style.display = "none"; // Hide the modal
      
          // Perform the redirection
          window.location.href = "/eventcalendar"; // R
        }
      </script>
      
     <script>
        $(document).ready(function () {
          // Open the modal when the page is loaded
          $('.bd-example-modal-lg').modal('show');
      
        });
      </script> 

{% endblock %}