{% extends 'base.html' %}
{% block body_block %}
{% load static %}

<style>
    .nav-tabs a.active {
        border-bottom: 2px solid #5453d2 !important;
    }
</style>

<style>
    @charset "UTF-8";

    .toggler-wrapper {
        display: block;
        width: 45px;
        height: 25px;
        cursor: pointer;
        position: relative;
    }

    .toggler-wrapper input[type="checkbox"] {
        display: none;
    }

    .toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
        background-color: #44cc66;
    }

    .toggler-wrapper .toggler-slider {
        background-color: #ccc;
        position: absolute;
        border-radius: 100px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    .toggler-wrapper .toggler-knob {
        position: absolute;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    /*Style 6*/

    .toggler-wrapper.style-6 {
        width: 54px;
        -webkit-box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, 0.4) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);
        box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, 0.4) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(255, 255, 255, 0))), #ddd;
        background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #ddd;
        border-radius: 100px;
    }

    .toggler-wrapper.style-6 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
        left: calc(100% - 19px - 3px + 5px);
    }

    .toggler-wrapper.style-6 .toggler-slider {
        -webkit-box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(68, 204, 102, 0.7) inset;
        box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(68, 204, 102, 0.7) inset;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(255, 255, 255, 0.1))), #d0d0d0;
        background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
        top: 5px;
        left: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }

    .toggler-wrapper.style-6 .toggler-knob {
        width: calc(25px - 6px);
        height: calc(25px - 6px);
        border-radius: 50%;
        left: calc(3px - 5px);
        top: calc(3px - 5px);
        -webkit-box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5);
        box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f5f5f5), to(#eeeeee));
        background: linear-gradient(#f5f5f5 10%, #eeeeee);
    }
</style>
<div class="container-fluid">
    <div class="card">
        <h3>System Fields</h3>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="float: right;">
            <li class="nav-item">
                <a class="nav-link"  href="{% url 'system_fields_student' %}">Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"   href="{% url 'system_fields_staff' %}">Staff</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="student" class="container tab-pane"><br>
                
            </div>
            <div id="staff" class="container tab-pane active"><br>
                <div class="table-responsive"><br>
                    <form method="post" id="myForm">
                        {% csrf_token  %}
                    <table id="tableID1" class="display">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>Designation</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="designation_id" name="system_fields"  onclick="SubmitForm()"
                                                value="designation"  {% if 'designation' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>department</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="department_id" name="system_fields"  onclick="SubmitForm()"
                                                value="department"  {% if 'department' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Last Name</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="last_name_id" name="system_fields"  onclick="SubmitForm()"
                                                value="last_name"  {% if 'last_name' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Father Name</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="father_name_id" name="system_fields"  onclick="SubmitForm()"
                                                value="father_name"  {% if 'father_name' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>mother_name</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="mother_name_id" name="system_fields"  onclick="SubmitForm()"
                                                value="mother_name"  {% if 'mother_name' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Date Of Joining</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="date_of_joining_id" name="system_fields"  onclick="SubmitForm()"
                                                value="date_of_joining"  {% if 'date_of_joining' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>phone</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="phone_id" name="system_fields"  onclick="SubmitForm()"
                                                value="phone"  {% if 'phone' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Emergency Contact Number</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="emergency_contact_number_id" name="system_fields"  onclick="SubmitForm()"
                                                value="emergency_contact_number"  {% if 'emergency_contact_number' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Marital Status</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="marital_status_id" name="system_fields"  onclick="SubmitForm()"
                                                value="marital_status"  {% if 'marital_status' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>photo</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="photo_id" name="system_fields"  onclick="SubmitForm()"
                                                value="photo"  {% if 'photo' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Current Address</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="current_address_id" name="system_fields"  onclick="SubmitForm()"
                                                value="current_address"  {% if 'current_address' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Permanent Address</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="permanent_address_id" name="system_fields"  onclick="SubmitForm()"
                                                value="permanent_address"  {% if 'permanent_address' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Qualification</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="qualification_id" name="system_fields"  onclick="SubmitForm()"
                                                value="qualification"  {% if 'qualification' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Work Experience</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="work_experience_id" name="system_fields"  onclick="SubmitForm()"
                                                value="work_experience"  {% if 'work_experience' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Note</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="note_id" name="system_fields"  onclick="SubmitForm()"
                                                value="note"  {% if 'note' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>EPF No</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="EPF_no_id" name="system_fields"  onclick="SubmitForm()"
                                                value="EPF_no"  {% if 'EPF_no' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Basic Salary</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="basic_salary_id" name="system_fields"  onclick="SubmitForm()"
                                                value="basic_salary"  {% if 'basic_salary' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Contract Type</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="contract_type_id" name="system_fields"  onclick="SubmitForm()"
                                                value="contract_type"  {% if 'contract_type' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Work Shift</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="work_shift_id" name="system_fields"  onclick="SubmitForm()"
                                                value="work_shift"  {% if 'work_shift' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="location_id" name="system_fields"  onclick="SubmitForm()"
                                                value="location"  {% if 'location' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Leaves</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="leaves_id" name="system_fields"  onclick="SubmitForm()"
                                                value="leaves"  {% if 'leaves' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bank Account Details</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="bank_account_details_id" name="system_fields"  onclick="SubmitForm()"
                                                value="bank_account_details"  {% if 'bank_account_details' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Social Media Link</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="social_media_link_id" name="system_fields"  onclick="SubmitForm()"
                                                value="social_media_link"  {% if 'social_media_link' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Upload Documents</td>
                                    <td>
                                        <label class="toggler-wrapper style-6">
                                            <input type="checkbox" id="upload_documents_id" name="system_fields"  onclick="SubmitForm()"
                                                value="upload_documents"  {% if 'upload_documents' in obj %} checked {% endif %}>
                                            <div class="toggler-slider">
                                                <div class="toggler-knob" ></div>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                               
                        </tbody>
                    </table>
                </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function SubmitForm(){
        document.getElementById("myForm").submit();
    }
</script>

<script>
    $(document).ready(function () {
      const dataTable = $('#tableID1').DataTable({
        dom: 'Blfrtip', // Add custom buttons to the DataTable
        buttons: [
          {
            extend: 'copy',
            text: '<i class="fas fa-copy" style="color:black"></i>',
            titleAttr: 'Copy',
            className: 'cust ',
          },
          {
            extend: 'csv',
            text: '<i class="fas fa-file-csv"></i>',
            titleAttr: 'CSV',
            className: 'cust',
          },
          {
            extend: 'excel',
            text: '<i class="fas fa-file-excel"></i>',
            titleAttr: 'Excel',
            className: 'cust ',
          },
          {
            extend: 'pdf',
            text: '<i class="fas fa-file-pdf"></i>',
            titleAttr: 'PDF',
            className: 'cust',
          },
          {
            extend: 'print',
            text: '<i class="fas fa-print"></i>',
            titleAttr: 'Print',
            className: 'cust',
          },
        ],
        lengthMenu: [[50, 100, 250], [50, 100, 250]],
      });

      // Update the DataTable entries when the selection changes
      $('#showEntries').on('change', function () {
        dataTable.page.len($(this).val()).draw();
      });
    });
  </script>

{% endblock %}