
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block styles %}
{{ block.super }}
<link href="{% static 'css/add_product.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}
<section style="width: 100%;">
    <div class="d-flex justify-content-center align-items-center flex-column">

        <div class="card" style="width: 30rem">
            <h2 class="card-header">Add Account</h2>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    {% bootstrap_form form %}

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-danger" id="cancelButton">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% block scripts %}
<script>
    document.getElementById('cancelButton').addEventListener('click', function () {
        window.history.back();
    });
</script>
{% endblock scripts %}
{% endblock content %}
