{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{block.super}}
<link href="{% static 'css/view_suppliers.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}
<section style="width: 100%;">
    <div>
        <div class="d-flex align-items-center justify-content-between">
            <h2>Transcation Type</h2>
        <div class="float-end">
          <a href="{% url 'add_transaction_type'%}">
            <button  type="button" class="btn btn-success">Add Transaction Type</button>
          </a>         
        </div> 


        </div>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th> 
                <th scope="col">Code description</th>
                
                             
              </tr>
            </thead>
            <tbody>
              {% for type in types %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
              
                <td>{{type.type_id}}</td>   
                <td>{{type.description}}</td>         
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</section>
{% endblock content %}