{% extends 'base.html' %}


{% block body_block %}
{% load static %}
<style>
    .form-group {
       margin-bottom: 0rem;
    }

    @charset "UTF-8";
    .toggler-wrapper {
        display: block;
        width: 45px;
        height: 25px;
        cursor: pointer;
        position: relative;
    }
    
    .toggler-wrapper input[type="checkbox"] {
        display: none;
    }
    
    .toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
        background-color: #44cc66;
    }
    
    .toggler-wrapper .toggler-slider {
        background-color: #ccc;
        position: absolute;
        border-radius: 100px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    
    .toggler-wrapper .toggler-knob {
        position: absolute;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    
    



.toggler-wrapper.style-4 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
	left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-4 .toggler-knob {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	left: 0;
	top: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
	box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
}

</style>
<div class="container-fluid">
    <div class="row">
        <div class="main-header">
            <h4>Mark Sheet</h4>
        </div>
    </div>


    <div class="col-md-12">
        <div class="row">
            {% if 'design_marksheet_add' in request.permissions or request.user.is_superuser %}
            <div class="col-md-4">
                <div class="card" style="padding: 10px;border-top: 5px solid black;">
                    <div class="main-header">
                        {% if view %}
                        <h4> View Mark Sheet </h4>
                        {% elif edit %}
                        <h4> Edit Mark Sheet </h4>
                        {% else %}
                        <h4>Add Mark Sheet</h4>                           
                        {% endif %}  
                        
                    </div>
                    <hr>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                         <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="id_template">Template:</label>
                                    <input type="text" name="template" maxlength="255" class="form-control" required id="id_template">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_heading">Heading:</label>
                                    <input type="text" name="heading" maxlength="255" class="form-control" id="id_heading">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_title">Title:</label>
                                    <input type="text" name="title" maxlength="255" class="form-control" id="id_title">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_exam_name">Exam name:</label>
                                    <input type="text" name="exam_name" maxlength="255" class="form-control" id="id_exam_name">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_school_name">School name:</label>
                                    <input type="text" name="school_name" maxlength="255" class="form-control" id="id_school_name">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_exam_center">Exam center:</label>
                                    <input type="text" name="exam_center" maxlength="255" class="form-control" id="id_exam_center">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_body_text">Body text:</label>
                                    <textarea name="body_text" cols="40" rows="10" maxlength="255" class="form-control" id="id_body_text">
                                            </textarea>
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_footer_text">Footer text:</label>
                                    <textarea name="footer_text" cols="40" rows="10" maxlength="255" class="form-control" id="id_footer_text">
                                        </textarea>
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_printing_date">Printing date:</label>
                                    <input type="date" name="printing_date" class="form-control" id="id_printing_date">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_left_logo">Left logo:</label>
                                    <input type="file" name="left_logo" class="form-control" id="id_left_logo">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_right_logo">Right logo:</label>
                                    <input type="file" name="right_logo" class="form-control" id="id_right_logo">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_left_sign">Left sign:</label>
                                    <input type="file" name="left_sign" class="form-control" id="id_left_sign">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_middle_sign">Middle sign:</label>
                                    <input type="file" name="middle_sign" class="form-control" id="id_middle_sign">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_right_sign">Right sign:</label>
                                    <input type="file" name="right_sign" class="form-control" id="id_right_sign">
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label for="id_background_image">Background image:</label>
                                    <input type="file" name="background_image" class="form-control" id="id_background_image">
                                </div>
                                <div class="col-md-12 mb-3"><br>
                                <div class="col-md-6 mb-3">
                                    <label for="id_name">Name:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="toggler-wrapper style-4">
                                        <input type="checkbox" name="name" id="id_name">
                                        <div class="toggler-slider">
                                          <div class="toggler-knob"></div>
                                        </div>
                                      </label>
                                </div>
                                
                                <div class="col-md-6 mb-3">
                                    <label for="id_father_name">Father name:</label>
                                </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="toggler-wrapper style-4">
                                            <input type="checkbox" name="father_name" id="id_father_name">
                                            <div class="toggler-slider">
                                              <div class="toggler-knob"></div>
                                            </div>
                                          </label>
                                    </div>                                   
                                <div class="col-md-6 mb-3">
                                    <label for="id_mother_name">Mother name:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="toggler-wrapper style-4">
                                        <input type="checkbox" name="mother_name" id="id_mother_name">
                                        <div class="toggler-slider">
                                          <div class="toggler-knob"></div>
                                        </div>
                                      </label>
                                </div>   
                                   
                                
                                <div class="col-md-6 mb-3">
                                    <label for="id_date_of_birth">Date of birth:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="toggler-wrapper style-4">
                                        <input type="checkbox" name="date_of_birth" id="id_date_of_birth">
                                        <div class="toggler-slider">
                                          <div class="toggler-knob"></div>
                                        </div>
                                      </label>
                                </div>  
                                
                                <div class="col-md-6 mb-3">
                                    <label for="id_admission_no">Admission no:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="toggler-wrapper style-4">
                                        <input type="checkbox" name="admission_no" id="id_admission_no">
                                        <div class="toggler-slider">
                                          <div class="toggler-knob"></div>
                                        </div>
                                      </label>
                                </div> 
                                
                                <div class="col-md-6 mb-3">
                                    <label for="id_roll_no">Roll no:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="toggler-wrapper style-4">
                                        <input type="checkbox" name="roll_no" id="id_roll_no">
                                        <div class="toggler-slider">
                                          <div class="toggler-knob"></div>
                                        </div>
                                      </label>
                                </div> 
                                
                                <div class="col-md-6 mb-3">
                                    <label for="id_address">Address:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="toggler-wrapper style-4">
                                        <input type="checkbox" name="address" id="id_address">
                                        <div class="toggler-slider">
                                          <div class="toggler-knob"></div>
                                        </div>
                                      </label>
                                </div> 
                                
                                <div class="col-md-6 mb-3">
                                    <label for="id_gender">Gender:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="toggler-wrapper style-4">
                                        <input type="checkbox" name="gender" id="id_gender">
                                        <div class="toggler-slider">
                                          <div class="toggler-knob"></div>
                                        </div>
                                      </label>
                                </div> 
                                <div class="col-md-6 mb-3">
                                    <label for="id_photo">Photo:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="toggler-wrapper style-4">
                                        <input type="checkbox" name="photo" id="id_photo">
                                        <div class="toggler-slider">
                                          <div class="toggler-knob"></div>
                                        </div>
                                      </label>
                                </div> 
                                
                                <div class="col-md-6 mb-3">
                                    <label for="id_grade">Grade:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="toggler-wrapper style-4">
                                        <input type="checkbox" name="grade" id="id_grade">
                                        <div class="toggler-slider">
                                          <div class="toggler-knob"></div>
                                        </div>
                                      </label>
                                </div>
                                
                                <div class="col-md-6 mb-3">
                                    <label for="id_section">Section:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="toggler-wrapper style-4">
                                        <input type="checkbox" name="section" id="id_section">
                                        <div class="toggler-slider">
                                          <div class="toggler-knob"></div>
                                        </div>
                                      </label>
                                </div>
                                
                            </div><br>
                            </div>
                            {% if not view %}
                        <button type="submit" class="btn btn-primary" style="float: right;">Save</button><br><br>
                        {% endif %}
                    </form>
                </div>
            </div>
            {% endif %}
            {% if 'design_marksheet_view' in request.permissions or request.user.is_superuser %}
            <div class="col-md-8">
                <div class="card" style="padding: 10px;border-top: 5px solid black;">
                    <div class="main-header">
                        <h4>Mark Sheet List</h4>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table id="tableID" class="display">
                            <thead>
                                <tr>
                                    <th>Certificate Name</th>
                                    <th>Background Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in records %}
                                <tr>
                                    <td>
                                        <a href="#" style="color: black;" data-toggle="modal"
                                            data-target="#marksheetCardModal{{ data.id }}">{{ data.template }}</a>
                                    </td>
                                    <td>{{data.background_image}}</td>
                                    <td>
                                        {% if 'design_marksheet_view' in request.permissions or request.user.is_superuser %}
                                        <a href="{% url 'design_marksheet_view' data.id %}" class="bozero"><span data-toggle="tooltip" title="view"style="color: black;"><i
                                                class='fa fa-server'></i></a>
                                         {% endif %}
                                      {% if 'design_marksheet_edit' in request.permissions or request.user.is_superuser %}
                                        <a href="{% url 'design_marksheet_edit' data.id %}"class="bozero"><span data-toggle="tooltip" title="edit" style="color: black;"><i
                                                class='fa fa-edit'></i></a>
                                         {% endif %}
                                        {% if 'design_marksheet_delete' in request.permissions or request.user.is_superuser %}
                                        <a href="{% url 'design_marksheet_delete' data.id %}" class="bozero"><span data-toggle="tooltip" title="delete"style="color: black;"><i
                                                class='fa fa-remove'
                                                onclick="alert('You want to Delete this Item..?')"></i></a>
                                         {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% for data in records %}
<!-- Modal -->
<div class="modal fade" id="marksheetCardModal{{ data.id }}" tabindex="-1" role="dialog"
    aria-labelledby="marksheetCardModalLabel{{ data.id }}" aria-hidden="true">
    <div class="modal-dialog-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="admitCardModalLabel{{ data.id }}">View Marksheet Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <style>
                .modal-table {
                    border-collapse: collapse;
                    width: 100%;
                }

                .modal-table th,
                .modal-table td {
                    border: 1px solid #000;
                    padding: 8px;
                    text-align: left;
                }

                .modal-table th {
                    background-color: #f2f2f2;
                }
            </style>


            <div class="card" style="padding: 30px;">
                <div class="modal-body" style="border: 2px solid rgb(97, 95, 95);padding: 20px;">
                    <div class="row" style="background-color: #ADD8E6;padding: 10px;">
                        <div class="col-md-2">
                            {% if data.left_logo %}
                            <img src="{{data.left_logo.url}}" alt="" width="100%" height="70px" style="float: left;">
                            {% endif %}
                        </div>

                        <div class="col-md-8">
                            <center>
                                <h3><b>{{ data.school_name }}</b></h3>
                                <h3><b>{{ data.exam_center }}</b></h3>
                                <h4><b>2021-2023</b></h4>

                            </center>
                        </div>

                        <div class="col-md-2">
                            {% if data.right_logo %}
                            <img src="{{data.right_logo.url}}" alt="" width="100%" height="70px" style="float: left;">
                            {% endif %}
                        </div>
                    </div><br>


                    <div class="col-md-10">
                        <table class="modal-table">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Admission Number</th>
                                    <th style="text-align: center;">Roll Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">{{ data.admission_no }}</td>
                                    <td style="text-align: center;">{{ data.roll_no }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2">
                        <img src="../../static/assets/images/avatar-1.png" alt="student_image" width="100%"
                            height="90px" style="float: left;border: double rgb(96, 89, 89);">
                    </div>


                    <div class="container-fluid">
                        <h6 style="text-align: center;"><b>CERTIFIED THAT</b></h6>
                        <div class="row" style="padding: 20px;">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">


                                        {% if data.name %}
                                        <div class="form-group row">
                                            <label class="col-sm-4 ">Candidate Name:</label>
                                            <div class="col-sm-8">
                                                <label>Dubakoor</label>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}



                                    {% if data.date_of_birth %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 ">Date of Birth:</label>
                                        <div class="col-sm-8 ">
                                            <label>8/8/4004</label>
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if data.roll_no %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 ">Roll No:</label>
                                        <div class="col-sm-8 ">
                                            <label>5678</label>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if data.gender %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 ">Gender:</label>
                                        <div class="col-sm-8 ">
                                            <label>Male</label>
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if data.grade %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 ">Grade:</label>
                                        <div class="col-sm-8 ">
                                            <label>A</label>
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if data.section %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 ">Section:</label>
                                        <div class="col-sm-8 ">
                                            <label>A</label>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>


                            <div class="col-md-6">
                                {% if data.father_name %}
                                <div class="form-group row">
                                    <label class="col-sm-4 ">Father's Name:</label>
                                    <div class="col-sm-8 ">
                                        <label>OLIVIER THOMAS</label>
                                    </div>
                                </div>
                                {% endif %}

                                {% if data.mother_name %}
                                <div class="form-group row">
                                    <label class="col-sm-4 ">Mother's Name:</label>
                                    <div class="col-sm-8 ">
                                        <label>CAROLINE THOMAS</label>
                                    </div>
                                </div>
                                {% endif %}
                                {% if data.address %}
                                <div class="form-group row">
                                    <label class="col-sm-4 ">Address:</label>
                                    <div class="col-sm-8 ">
                                        <label>CAROLINE THOMAS</label>
                                    </div>
                                </div>
                                {% endif %}


                            </div>
                        </div>
                    </div>

                    <!-- Add other marksheet  details here -->
                    <table class="modal-table">
                        <thead>
                            <tr>
                                <th style="text-align: center;">SUBJECTS</th>
                                <th style="text-align: center;">MAX.MARKS Number</th>
                                <th style="text-align: center;">MIN.MARKS</th>
                                <th style="text-align: center;">MARKS OBTAINED</th>
                                <th style="text-align: center;">REMARKS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">{{ data.name }}</td>
                                <td style="text-align: center;">{{ data.admission_no }}</td>
                                <td style="text-align: center;">{{ data.Class }}</td>
                                <td style="text-align: center;">{{ data.section }}</td>
                                <td style="text-align: center;">{{ data.section }}</td>
                            </tr>
                            <tr>
                                <td colspan="5" style="text-align: left;">GRAND TOTAL IN WORDS : <b>&nbsp;&nbsp; TWO
                                        HUNDRED EIGHTY FOUR</b></td>
                            </tr>
                            <tr>
                                <td colspan="5" style="text-align: left;">Passed In : <b>&nbsp;&nbsp; Distinction </b>
                                </td>

                            </tr>
                        </tbody>
                    </table><br>

                    <h6 style="float: left;padding-left: 20px;"><b>06/30/2023</b></h6><br>
                    <div class="container-fluid" style="background-color: rgb(241, 236, 236);padding: 10px;">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">

                                    <div class="">
                                        <img src="../../static/assets/images/avatar-1.png" alt="student_image"
                                            width="100%" height="60px" style="float: left;">

                                        {% if data.sign %}
                                        <img src="{{data.sign.url}}" alt="" style="display: block; margin: 10px auto;"
                                            width="10%">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="">
                                        <img src="../../static/assets/images/avatar-1.png" alt="student_image"
                                            width="100%" height="60px" style="float: left;">

                                        {% if data.sign %}
                                        <img src="{{data.sign.url}}" alt="" style="display: block; margin: 10px auto;"
                                            width="10%">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="">
                                        <img src="../../static/assets/images/avatar-1.png" alt="student_image"
                                            width="100%" height="60px" style="float: left;">

                                        {% if data.sign %}
                                        <img src="{{data.sign.url}}" alt="" style="display: block; margin: 10px auto;"
                                            width="10%">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block script_block %}

{% endblock %}