{% extends 'base.html' %}


{% block body_block %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
           <h4>Exam Group</h4>
        </div>
     </div>
    <div class="col-md-12">
        <div class="row">
            {% if 'exam_group_add' in request.permissions or request.user.is_superuser %}
            <div class="col-md-4">
                <div class="card" style="padding: 10px;border-top: 5px solid black;">
                    <div class="main-header">
                        {% if view %}
                        <h4> View Exam Group </h4>
                        {% elif edit %}
                        <h4> Edit Exam Group  </h4>
                        {% else %}
                        <h4>Add Exam Group</h4>
                        {% endif %}

                     </div><hr>
                     <form method="post">
                        {% csrf_token %}
                     <div class="row">
                        {% for data in form %}
                        <div class="col-md-12 mb-3">
                            {{data.label_tag}}
                          {{ data }}
                        </div>
                        {% endfor %}
                      </div><br>

                      <button type="submit" class="btn btn-primary" style="float: right;">Save</button><br><br>
                    </form>
                </div>
            </div>
            {% endif %}
            {% if 'exam_group_view' in request.permissions or request.user.is_superuser %}
            <div class="col-md-8">
                <div class="card" style="padding: 10px;border-top: 5px solid black;">
                    <div class="main-header">


                     </div><hr>
                    <div class="table-responsive">
                    <table id="tableID" class="display"  >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>No Of Exam</th>
                                <th>Exam Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in records %}
                            <tr>
                                <td>{{data.name}}</td>
                                <td>{{data.exam_count}}</td>
                                <td>{{data.exam_type}}</td>
                                <td>
                                    {% if 'exam_view' in request.permissions or 'exam_add' in request.permissions or request.user.is_superuser %}
                                    <a href="{% url 'addexamlist' data.id %}"  class="bozero"><span data-toggle="tooltip" title="add exam"style="color: black;"  ><i class='fa fa-plus'></i></a>
                                    {% endif %}

                                    {% if 'exam_group_edit' in request.permissions or request.user.is_superuser %}
                                    <a href="{% url 'exam_group_edit' data.id %}" class="bozero"><span data-toggle="tooltip" title="edit" style="color: black;"><i class='fa fa-edit'></i></a>
                                    {% endif %}

                                    {% if 'exam_group_delete' in request.permissions or request.user.is_superuser %}
                                    <a href="{% url 'exam_group_delete' data.id %}" class="bozero"><span data-toggle="tooltip" title="delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                                    {% endif %}

                                </td>
                                   </td>
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>
                    </div>
                 </div>
            </div>
            {% endif %}

        </div>
    </div>
    </div>



 {% endblock %}
 {% block script_block %}

 {% endblock  %}