{% extends 'base.html' %}


{% block body_block %}
{% load static %}

<div class="container-fluid">
    <div class="row">
       <div class="main-header">
          <h4>Select Criteria</h4>
       </div>
    </div>
  
    <div class="col-md-12">
        <div class="card" style="padding: 10px;">
            <form action="" method="post">
                {% csrf_token %}
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="enquiry">Exam Group</label><span class="text-danger">*</span>
                    <select class="form-control" id="exam_group" required>
                        <option value="">--Select</option>
                        {% for data in eaxm_records %}
                        <option value="{{data.id}}">{{data.name}}</option>
                        {% endfor %}
                   
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="enquiry">Exam </label><span class="text-danger">*</span>
                    <select class="form-control" id="exam" required name="exam">
                        <option value="">--Select</option>
                   
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="enquiry">Session </label><span class="text-danger">*</span>
                    <select class="form-control" required name="session">
                        <option value="">--Select--</option>
                        {% for data in session_records %}
                        <option value="{{data.id}}">{{data.session}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="enquiry">Class </label><span class="text-danger">*</span>
                    <select class="form-control" id="id_Class" name="class" required>
                        <option value="">--Select--</option>
                        {% for data in class_records %}
                        <option value="{{data.id}}">{{data.Class}}</option>
                        {% endfor %}
                   
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="enquiry">Section </label><span class="text-danger">*</span>
                    <select class="form-control" name="section" id="id_section" required>
                        <option value="">--Select--</option>
                   
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="enquiry">Admit Card Template </label><span class="text-danger">*</span>
                    <select class="form-control" name="admit_card" required> 
                        <option value="">--Select--</option>
                        {% for data in admit_card_records %}
                        <option value="{{data.id}}">{{data.template}}</option>
                        {% endfor %}
                   
                    </select>
                </div>
                <div class="col-md-6 mb-3"><br>
                    <button type="submit" class="btn btn-primary" style="float: right;">Search</button>
                </div>

            </div>
        </form>
        </div>
    </div>
    {% if records %}
    <div class="row">
        <div class="main-header">
           <h4>Student List</h4>
        </div>
     </div>
     
     <form action="/printing_admit_card" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" style="float: right;">Print Admit Card</button><br>
        <input type="hidden" name="exam" value="{{exam}}">
        <input type="hidden" name="admit_card" value="{{admit_card}}">
     <div class="col-md-12">
         <div class="card" style="padding: 10px;">
            <div class="table-responsive">
            <table id="tableID" class="display"  >
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>Admission No</th>
                        <th>Student Name</th>
                        <th>Father Name</th>
                        <th>Date Of Birth</th>
                        <th>Gender</th>
                        <th>Category</th>
                        <th>Mobile Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in records %}
                    <tr>
                        <td><input type="checkbox" name="checkbox" value="{{data.student.id}}"></td>
                        <td>{{data.student.admission_no}}</td>
                        <td>{{data.student.first_name}} {% if data.student.last_name %}{{data.student.last_name}}{% endif %}</td>
                        <td>{{data.student.Father_name}}</td>
                        <td>{{data.student.date_of_birth}}</td>
                        <td>{{data.student.gender}}</td>
                        <td>{{data.student.category}}</td>
                        <td>{{data.student.mobile_number}}</td>
                        
                    </tr>
                  {% endfor %}
                </tbody>
        
            </table>
            </div>
         </div>
     </div>
    </form>
    {% else %}
    <center> <h5>No Records Found </h5></center>
    {% endif %}
 </div>
   
 {% endblock %}
 {% block script_block %}

<script>
    $(document).ready(function () {
    $(document).on('change', '#exam_group', function () {
      var exam_group = $('#exam_group').val();
      var url = "{% url 'exam_js' %}";
      $.ajax({
        url: url,
        data: {
          'exam_group': exam_group
        },
        success: function (data) {
            $("#exam").html(data);
            let html_data = '<option value="">--------</option>';
            data.forEach(function (exam) {
                html_data += `<option value="${exam.id}">${exam.Exam}</option>`
            });
            console.log(html_data);
            $("#exam").html(html_data);
        },
        error: function (data) {
          console.log(data);
        }
      });
    });

});
  </script>

  
<script>
    $(document).ready(function () {
    $(document).on('change', '#id_Class', function () {
      var class_id = $('#id_Class').val();
      var url = "{% url 'section_js' %}";
      $.ajax({
        url: url,
        data: {
          'class_id': class_id
        },
        success: function (data) {
            $("#id_section").html(data);
            let html_data = '<option value="">--------</option>';
            data.forEach(function (section) {
                html_data += `<option value="${section.id}">${section.section_name}</option>`
            });
            console.log(html_data);
            $("#id_section").html(html_data);
        },
        error: function (data) {
          console.log(data);
        }
      });
    });

});
</script>
 {% endblock  %}