{% extends 'base.html' %}

{% block body_block %}
  {% load static %}

  <div class="container-fluid">
    <div class="row">
      <div class="main-header">
         <h4>Add Fees Discount</h4>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        {% if 'fees_discount_add' in request.permissions or request.user.is_superuser %}
          <div class="col-md-4">
              <div class="card" style="padding: 10px;border-top: 5px solid black;">
                  <div class="main-header">
                      {% if view %}
                      <h4> View Fees Discount </h4>
                      {% elif edit %}
                      <h4> Edit Fees Discount </h4>
                      {% else %}
                      <h4>Add Fees Discount</h4>                        
                      {% endif %} 
                   </div><hr>
                   <form method="post" id="feesDiscountForm">
                      {% csrf_token %}                      
                   <div class="row">
                      {% for data in form %}
                      <div class="col-md-12 mb-3">
                          {{data.label_tag}}
                        {{ data }}     
                      </div>                      
                      {% endfor %}
                    </div><br>
                    {% if not view %}
                    <button type="submit" class="btn btn-primary" style="float: right;">Save</button><br><br>
                    {% endif %}
                  </form>
              </div>
          </div>
        {% endif %}
        {% if 'fees_discount_view' in request.permissions or request.user.is_superuser %}
          <div class="col-md-8">
              <div class="card" style="padding: 10px;border-top: 5px solid black;">
                  <div class="main-header">
                      <h4>Fees Type Discount</h4>
                   </div><hr>
                  <div class="table-responsive">
                  <table id="tableID" class="display"  >
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Discount Code</th>
                              <th>Discount Percentage</th> 
                              <th>Discount percentage_amount</th>   
                                                         
                              <th>Amount</th>
                              <th>Action</th>
                          </tr>
                      </thead> 
                      <tbody>
                        <td>{{ record.percentage_amount }}</td>
                          {% for data in records %}
                          <tr>
                              <td>{{data.name}}</td>
                              <td>{{data.discount_code}}</td>
                             <td>{{data.percentage}}</td>
                              <td>{{data.percentage_amount}}</td>

                                <td>{{data.amount}}</td>
                              <td>  {% if 'fees_assign_discount_view' in request.permissions or request.user.is_superuser %}
                                  <a href="{% url 'fees_discount_assign' data.id %}"class="bozero"><span data-toggle="tooltip" title="tags" style="color: black;"  ><i class='fa fa-tag'></i></a>
                                  {% endif %}
                                  {% if 'fees_discount_edit' in request.permissions or request.user.is_superuser %}
                                  <a href="{% url 'fees_discount_edit' data.id %}" class="bozero"><span data-toggle="tooltip" title="edit"style="color: black;"><i class='fa fa-edit'></i></a>
                                  {% endif %}
                                  {% if 'fees_discount_delete' in request.permissions or request.user.is_superuser %}
                                  <a href="{% url 'fees_discount_delete' data.id %}"class="bozero"><span data-toggle="tooltip" title="delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                                  {% endif %}
                                </td>
                          </tr>
                          {% endfor %}
                        
                      </tbody>
              
                  </table>
                  </div>
               </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

 <script>
  document.addEventListener('DOMContentLoaded', function () {
    var discountTypeSelect = document.getElementById('id_discount_type');
    var amountField = document.getElementById('id_amount');
    var percentageField = document.getElementById('id_percentage');
    var amountLabel = document.querySelector('label[for="id_amount"]');
    var percentageLabel = document.querySelector('label[for="id_percentage"]');

    // Initial state - display both fields and labels
    amountField.style.display = 'block';
    percentageField.style.display = 'block';
    amountLabel.style.display = 'block';
    percentageLabel.style.display = 'block';

    // Add event listener to the discount type select
    discountTypeSelect.addEventListener('change', function () {
      toggleFields();
    });

    function toggleFields() {
      if (discountTypeSelect.value === 'Discount Percentage') {
        amountField.style.display = 'none';
        percentageField.style.display = 'block';
        amountLabel.style.display = 'none';
        percentageLabel.style.display = 'block';
      } else {
        amountField.style.display = 'block';
        percentageField.style.display = 'none';
        amountLabel.style.display = 'block';
        percentageLabel.style.display = 'none';
      }
    }
  });
</script>



{% endblock %}
