{% extends 'base.html' %}


{% block body_block %}
{% load static %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
     @media print {
            #print_btn_btn {
                display: none;
            }
                 }
</style>
<style>
    .receipt-content .logo a:hover {
  text-decoration: none;
  color: #7793C4; 
}

.receipt-content .invoice-wrapper {
  background: #FFF;
  border: 1px solid #CDD3E2;
  box-shadow: 0px 0px 1px #CCC;
  padding: 40px 40px 60px;
  margin-top: 40px;
  border-radius: 4px; 
}

.receipt-content .invoice-wrapper .payment-details span {
  color: #A9B0BB;
  display: block; 
}
.receipt-content .invoice-wrapper .payment-details a {
  display: inline-block;
  margin-top: 5px; 
}

.receipt-content .invoice-wrapper .line-items .print a {
  display: inline-block;
  border: 1px solid #9CB5D6;
  padding: 13px 13px;
  border-radius: 5px;
  color: #708DC0;
  font-size: 13px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; 
}

.receipt-content .invoice-wrapper .line-items .print a:hover {
  text-decoration: none;
  border-color: #333;
  color: #333; 
}

.receipt-content {
  background: #ECEEF4; 
}
@media (min-width: 1200px) {
  .receipt-content .container {width: 900px; } 
}

.receipt-content .logo {
  text-align: center;
  margin-top: 50px; 
}

.receipt-content .logo a {
  font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
  font-size: 36px;
  letter-spacing: .1px;
  color: #555;
  font-weight: 300;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; 
}

.receipt-content .invoice-wrapper .intro {
  line-height: 25px;
  color: #444; 
}

.receipt-content .invoice-wrapper .payment-info {
  margin-top: 25px;
  padding-top: 15px; 
}

.receipt-content .invoice-wrapper .payment-info span {
  color: #A9B0BB; 
}

.receipt-content .invoice-wrapper .payment-info strong {
  display: block;
  color: #444;
  margin-top: 3px; 
}

@media (max-width: 767px) {
  .receipt-content .invoice-wrapper .payment-info .text-right {
  text-align: left;
  margin-top: 20px; } 
}
.receipt-content .invoice-wrapper .payment-details {
  border-top: 2px solid #EBECEE;
  margin-top: 30px;
  padding-top: 20px;
  line-height: 22px; 
}


@media (max-width: 767px) {
  .receipt-content .invoice-wrapper .payment-details .text-right {
  text-align: left;
  margin-top: 20px; } 
}
.receipt-content .invoice-wrapper .line-items {
  margin-top: 40px; 
}
.receipt-content .invoice-wrapper .line-items .headers {
  color: #A9B0BB;
  font-size: 13px;
  letter-spacing: .3px;
  border-bottom: 2px solid #EBECEE;
  padding-bottom: 4px; 
}
.receipt-content .invoice-wrapper .line-items .items {
  margin-top: 8px;
  border-bottom: 2px solid #EBECEE;
  padding-bottom: 8px; 
}
.receipt-content .invoice-wrapper .line-items .items .item {
  padding: 10px 0;
  color: #696969;
  font-size: 15px; 
}
@media (max-width: 767px) {
  .receipt-content .invoice-wrapper .line-items .items .item {
  font-size: 13px; } 
}
.receipt-content .invoice-wrapper .line-items .items .item .amount {
  letter-spacing: 0.1px;
  color: #84868A;
  font-size: 16px;
 }
@media (max-width: 767px) {
  .receipt-content .invoice-wrapper .line-items .items .item .amount {
  font-size: 13px; } 
}

.receipt-content .invoice-wrapper .line-items .total {
  margin-top: 30px; 
}

.receipt-content .invoice-wrapper .line-items .total .extra-notes {
  float: left;
  width: 40%;
  text-align: left;
  font-size: 13px;
  color: #7A7A7A;
  line-height: 20px; 
}

@media (max-width: 767px) {
  .receipt-content .invoice-wrapper .line-items .total .extra-notes {
  width: 100%;
  margin-bottom: 30px;
  float: none; } 
}

.receipt-content .invoice-wrapper .line-items .total .extra-notes strong {
  display: block;
  margin-bottom: 5px;
  color: #454545; 
}

.receipt-content .invoice-wrapper .line-items .total .field {
  margin-bottom: 7px;
  font-size: 14px;
  color: #555; 
}

.receipt-content .invoice-wrapper .line-items .total .field.grand-total {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500; 
}

.receipt-content .invoice-wrapper .line-items .total .field.grand-total span {
  color: #20A720;
  font-size: 16px; 
}

.receipt-content .invoice-wrapper .line-items .total .field span {
  display: inline-block;
  margin-left: 20px;
  min-width: 85px;
  color: #84868A;
  font-size: 15px; 
}

.receipt-content .invoice-wrapper .line-items .print {
  margin-top: 50px;
  text-align: center; 
}



.receipt-content .invoice-wrapper .line-items .print a i {
  margin-right: 3px;
  font-size: 14px; 
}

.receipt-content .footer {
  margin-top: 40px;
  margin-bottom: 110px;
  text-align: center;
  font-size: 12px;
  color: #969CAD; 
}  

 .table tr{
  font-size: 5px !important;
}
</style>
<div class="receipt-content">
    <div class="container bootstrap snippets bootdey">
		<div class="row">
			<div class="col-md-12">
				<div class="invoice-wrapper" id="cardToPrint">
					<div class="intro">
						<strong>{{records.student.first_name}}</strong>, 
					
						
					</div>
    
          <div class="col-md-12 ">
            <div class="certificate-container">

              <img src="{{header_img.image_fees_receipt.url}}" class="img-fluid img-responsive"
                  style="height: 120px;width: 6000px">

          </div>
          </div>
<br>
<br>
					<div class="payment-info">
						<div class="row">
							<div class="col-sm-6">                
					
							</div>
							<div class="col-sm-6 text-right">
								<span>Payment Date</span>
								<strong>{{fees_records.student.created_at|date:"d/m/Y"}}</strong>
							</div>
						</div>
					</div>

					<div class="payment-details">
						<div class="row">
							<div class="col-sm-6">
                              
								<span>Student Details</span>
                <br>
								<strong>
                    {{fees_records.student.first_name}}
								</strong>
                  <br>

                {{fees_records.student.current_address}}
            
							</div>
							
						</div>
                        
					</div>
                    <br>
                        <table class="table">
                            <thead>                                
                                  <table >
                                    <thead>
                                      <tr>
                                        <th> </th>
                                        <th>Fees Group</th>
                                        <th>Fees Code</th>
                                        <th>Due Date</th>
                                        <th>Status</th>
                                        <th>Amount </th>
                                        <th>Payment Id</th>
                                        <th>Mode</th>
                                        <th>Date</th>
                                        <th>Discount </th>
                                        <th>Fine </th>
                                        <th>Paid </th>
                                        <th>Balance </th>                                      
                                      </tr>
                                    </thead>
                                    <tbody style="font-size: 13px;">                                   
                                      <tr>
                                        <td></td>
                                        <td><input type="hidden" value="{{data.id}}" id="table_fees_id">{{fees_records.fees.fees_group}}</td>
                                        <td>{{fees_records.fees.fees_type.Fees_code}}</td>
                                        <td>{{fees_records.fees.due_date|date:"d/m/Y"}}</td>
                                        <td> {% if fees_records.status == 'fully paid' %}<label class="label label-success">{{fees_records.status}}{% else %}<label class="label label-warning">{{fees_records.status}}{% endif %} </label></td>
                                        <td> <input type="hidden" value="{{fees_records.balance_amount}}" id="table_amount">{{fees_records.fees.amount}}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><input type="hidden" value="{{fees_records.fees.percentage}}" id="table_percentage">{{fees_records.Dicount_amount}}
                                        </td>
                                        <td><input type="hidden" value="{{fees_records.fees.fine_amount}}" id="table_fine_amount">{{fees_records.fine_amount}}
                                        </td>
                                        <td>{{fees_records.paid_amount}}</td>
                                        <td>{{fees_records.balance_amount}}</td>
                              
                          
                                      </tr>
                                      {% for paid in master_fees %}
                                    
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><img src="https://www.school.infomainia.in/backend/images/table-arrow.png" alt=""></td>
                                        <td> <input type="hidden" value="{{data.fees.amount}}">{{paid.id}}</td>
                                        <td>{{paid.payment_mode_fee}}</td>
                                        <td>{{paid.created_at|date:"d/m/Y"}}</td>
                                        <td>{{paid.amount_discount}}</td>
                                        <td>{{paid.amount_fine}}</td>
                                        <td>{{paid.paid_amount}}</td>
                                        <td></td>
                                      
                                      </tr>
                                                  
                                      {% endfor %}
                                  </tbody>                            
                                  </table>                             
                        </table>
                        <br>
                        <div class="certificate-container">                         
                          {{header_img.note_payslip}}
                                       </div> 
			
				</div>
        <div class="print text-right" >
          <button type="button" id="print_btn_btn" class="btn btn-primary"  onclick="printCard()">Print</button>
        </div>

				
			</div>
		</div>
	</div>
</div>  
<br>  
<script>
  function printCard() {
      var card = document.getElementById('cardToPrint');
      var originalContent = document.body.innerHTML;
      var cardContent = card.innerHTML;

      // Replace the entire page content with the card content
      document.body.innerHTML = cardContent;

      // Call the browser's print function
      window.print();

      // Restore the original content
      document.body.innerHTML = originalContent;
  }
</script>

{% endblock  %}