{% extends 'base.html' %}


{% block body_block %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
           <h4>Department</h4>
        </div>
     </div>
    <div class="col-md-12">
        <div class="row">
            {% if 'department_add' in request.permissions or request.user.is_superuser %}
            <div class="col-md-4">
                <div class="card" style="padding: 10px;border-top: 5px solid black;">
                    <div class="main-header">
                        {% if edit %}
                        <h4> Edit Department </h4>                        
                        {% else %}
                        <h4>Add Department</h4>                        
                        {% endif %}  
                      
                     </div><hr>
                     
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                          {% for data in form %}
                                <div class="col-md-12 mb-3">
                                    <label for="{{ data.id_for_label }}">{{ data.label }}</label>
                                    {{ data }}
                                </div>
                            {% endfor %}
                     

                        <button type="submit" class="btn btn-primary">Add Department</button>
                    </form>
                </div>
            </div>
            {% endif %}
            {% if 'department_view' in request.permissions or request.user.is_superuser %}
            <div class="col-md-8">
                <div class="card" style="padding: 10px;border-top: 5px solid black;">
                    <div class="main-header">
                        <h4>Department List</h4>
                     </div><hr>
                    <div class="table-responsive">
                    <table id="tableID" class="display"  >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in departments %}
                            <tr>
                                <td>{{data.name}}</td>
                                <td> 
                                    {% if 'department_edit' in request.permissions or request.user.is_superuser %}
                                    <a href="{% url 'department_edit' data.id%}" class="bozero"><span data-toggle="tooltip" title="edit"style="color: black;"><i class='fa fa-edit'></i></a>
                                    {% endif %}
                                    {% if 'department_delete' in request.permissions or request.user.is_superuser %}
                                    <a href="{% url 'department_delete' data.id%}" class="bozero"><span data-toggle="tooltip" title="delete"style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                                  {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                          
                        </tbody>
                
                    </table>
                    </div>
                 </div>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
  
    

 {% endblock %}
 {% block script_block %}

 {% endblock  %}