{% extends 'parent_base.html' %}
{% block body_block %}
{% load static %}
<style>
    .col-md-12{
        background-color: whitesmoke; 
        font-size: small;
    }
    tr{
        padding: 20px;
    }
    
</style>
<div class="container-fluid">
    <div class="row">
        <div class="main-header">
            <h4>Class Timetable</h4>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr style="text-align: center;">
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >
                                    {% for data in TimeTable_records %}
                                    {% if data.day == 'Monday' %}
                                    <div class="row" >
                                    <div class="col-md-12">
                                        Subject:{{data.subject}} <br>
                                        ({{data.subject.subject_code}}) <br>
                                        {{data.time_from}} - {{data.time_to}}<br>
                                        Room Number : {{data.room_no}}
                                    </div>
                                </div><br>
                                {% endif %}
                                    {% endfor %}
                                
                            </td>
                            <td>
                                
                                    {% for data in TimeTable_records %}
                                    {% if data.day == 'Tuesday' %}
                                <div class="row">
                                    <div class="col-md-12">
                                        Subject:{{data.subject}} <br>
                                        ({{data.subject.subject_code}}) <br>
                                        {{data.time_from}} - {{data.time_to}}<br>
                                        Room Number : {{data.room_no}}
                                    </div>
                                    </div><br>
                                    {% endif %}
                                    {% endfor %}
                            </td>
                            
                            <td>
                                
                                    {% for data in TimeTable_records %}
                                    {% if data.day == 'Wednesday' %}
                                <div class="row">
                                    <div class="col-md-12">
                                        Subject:{{data.subject}} <br>
                                        ({{data.subject.subject_code}}) <br>
                                        {{data.time_from}} - {{data.time_to}}<br>
                                        Room Number : {{data.room_no}}
                                    </div>
                                    </div><br>
                                    {% endif %}
                                    {% endfor %}
                            </td>
                            
                            <td>
                                
                                    {% for data in TimeTable_records %}
                                    {% if data.day == 'Thursday' %}
                                <div class="row">
                                    <div class="col-md-12">
                                        Subject:{{data.subject}} <br>
                                        ({{data.subject.subject_code}}) <br>
                                        {{data.time_from}} - {{data.time_to}}<br>
                                        Room Number : {{data.room_no}}
                                    </div>
                                    </div><br>
                                    {% endif %}
                                    {% endfor %}
                            </td>
                            
                            <td>
                                
                                    {% for data in TimeTable_records %}
                                    {% if data.day == 'Friday' %}
                                <div class="row">
                                    <div class="col-md-12">
                                        Subject:{{data.subject}} <br>
                                        ({{data.subject.subject_code}}) <br>
                                        {{data.time_from}} - {{data.time_to}}<br>
                                        Room Number : {{data.room_no}}
                                    </div>
                                    </div><br>
                                    {% endif %}
                                    {% endfor %}
                            </td>
                            
                            <td>
                                
                                    {% for data in TimeTable_records %}
                                    {% if data.day == 'Saturday' %}
                                <div class="row">
                                    <div class="col-md-12">
                                        Subject:{{data.subject}} <br>
                                        ({{data.subject.subject_code}}) <br>
                                        {{data.time_from}} - {{data.time_to}}<br>
                                        Room Number : {{data.room_no}}
                                    </div>
                                    </div><br>
                                    {% endif %}
                                    {% endfor %}
                            </td>
                            
                            <td>
                                
                                    {% for data in TimeTable_records %}
                                    {% if data.day == 'Sunday' %}
                                <div class="row">
                                    <div class="col-md-12">
                                        Subject:{{data.subject}} <br>
                                        ({{data.subject.subject_code}}) <br>
                                        {{data.time_from}} - {{data.time_to}}<br>
                                        Room Number : {{data.room_no}}
                                    </div>
                                    </div><br>
                                    {% endif %}
                                    {% endfor %}
                            </td>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

</div>

{% endblock %}
{% block script_block %}
 
<script>
    $(document).ready(function () {
    $(document).on('change', '#id_Class', function () {
      var class_id = $('#id_Class').val();
      var url = "{% url 'section_js' %}";
      $.ajax({
        url: url,
        data: {
          'class_id': class_id
        },
        success: function (data) {
            $("#id_section").html(data);
            let html_data = '<option value="">--------</option>';
            data.forEach(function (section) {
                html_data += `<option value="${section.id}">${section.section_name}</option>`
            });
            console.log(html_data);
            $("#id_section").html(html_data);
        },
        error: function (data) {
          console.log(data);
        }
      });
    });

});
</script>

{% endblock %}