{% extends 'base.html' %}


{% block body_block %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
           <h4>Hostel</h4>
        </div>
     </div>
    <div class="col-md-12">
        <div class="row">
            {% if 'hostel_add' in request.permissions or request.user.is_superuser %}
            <div class="col-md-4">
                <div class="card" style="padding: 10px;border-top: 5px solid black;">
                    <div class="main-header">
                        {% if view %}
                        <h4> View  Hostel </h4>
                        {% elif edit %}
                        <h4> Edit  Hostel </h4>
                        {% else %}
                        <h4>Add Hostel</h4>                    
                        {% endif %}  
                        
                     </div><hr>
                     <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                     <div class="row">
                        {% for data in form %}
                        <div class="col-md-12 mb-3">
                            {{data.label_tag}}
                          {{ data }}
                        </div>
                        {% endfor %}
                      </div><br>
                      {% if not view %}
                      <button type="submit" class="btn btn-primary" style="float: right;">Save</button><br><br>
                      {% endif %}
                    </form>
                </div>
            </div>
            {% endif %}
            {% if 'hostel_view' in request.permissions or request.user.is_superuser %}
            <div class="col-md-8">
                <div class="card" style="padding: 10px;border-top: 5px solid black;">
                    <div class="main-header">
                        <h4>Hostel List</h4>
                     </div><hr>
                    <div class="table-responsive">
                    <table id="tableID" class="display"  >
                        <thead>
                            <tr>
                                <th>Hostel Name</th>
                                <th>Type</th>
                                <th>Address</th>
                                <th>Intake</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in records %}
                            <tr>
                                <td>{{data.hostel_name}}</td>
                                <td>{{data.hostel_type}}</td>
                                <td>{{data.address}}</td>
                                <td>{{data.intake}}</td>                               
                                
                                <td>  
                                    {% if 'hostel_view' in request.permissions or request.user.is_superuser %}
                                    <a href="{% url 'hostel_view' data.id %}"  class="bozero"><span data-toggle="tooltip" title="view"style="color: black;"  ><i class='fa fa-server'></i></a>
                                    {% endif %}
                                    {% if 'hostel_edit' in request.permissions or request.user.is_superuser %}
                                    <a href="{% url 'hostel_edit' data.id %}"  class="bozero"><span data-toggle="tooltip" title="edit"style="color: black;"><i class='fa fa-edit'></i></a>
                                    {% endif %}
                                    {% if 'hostel_delete' in request.permissions or request.user.is_superuser %}
                                    <a href="{% url 'hostel_delete' data.id %}" class="bozero"><span data-toggle="tooltip" title="delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                                    {% endif %}
                                   </td>
                                  
                            </tr>
                            {% endfor %}
                          
                        </tbody>
                
                    </table>
                    </div>
                 </div>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
  
    

 {% endblock %}
 {% block script_block %}

 {% endblock  %}