{% extends 'base.html' %}


{% block body_block %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
           <h4>Subject </h4>
        </div>
     </div>
    <div class="col-md-12">
        <div class="row">
            {% if 'subject_add' in request.permissions or request.user.is_superuser %}

            <div class="col-md-4">
                <div class="card" style="padding: 10px;border-top: 5px solid black;">
                    <div class="main-header">
                        {% if view %}
                        <h4> View Subject </h4>
                        {% elif edit %}
                        <h4> Edit Subject </h4>
                        {% else %}
                        <h4>Add Subject </h4>
                        {% endif %}

                     </div><hr>
                     <form method="post">
                        {% csrf_token %}
                     <div class="row">
                        {% for data in form %}
                        <div class="col-md-12 mb-3">
                            {{data.label_tag}}
                          {{ data }}
                        </div>
                        {% endfor %}
                      </div><br>
                      {% if not view %}
                      <button type="submit" class="btn btn-primary" style="float: right;">Save</button><br><br>
                      {% endif %}
                    </form>
                </div>
            </div>
            {% endif %}
            {% if 'subject_view' in request.permissions or request.user.is_superuser %}
            <div class="col-md-8">
                <div class="card" style="padding: 10px;border-top: 5px solid black;">
                    <div class="main-header">
                        <h4>Subject  List</h4>
                     </div><hr>
                    <div class="table-responsive">
                    <table id="tableID" class="display"  >
                        <thead>

                            <tr>
                                <th>Subject</th>
                                <th>Subject Code</th>
                                <th>Subject Type</th>
                                <th>Subject Grading system</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in records %}
                            <tr>
                                <td>{{data.subject_name}}</td>
                                <td>{{data.subject_code}}</td>
                                <td>{{data.subject_type}}</td>
                                <td>{{data.grading}}</td>
                                <td>
                                    {% if 'subject_view' in request.permissions or request.user.is_superuser %}
                                    <a href="{% url 'subjects_view' data.id %}" class="bozero"><span data-toggle="tooltip" title="view" style="color: black;"  ><i class='fa fa-server'></i></a>
                                    {% endif %}
                                    {% if 'subject_edit' in request.permissions or request.user.is_superuser %}
                                    <a href="{% url 'subjects_edit' data.id %}" class="bozero"><span data-toggle="tooltip" title="edit" style="color: black;"><i class='fa fa-edit'></i></a>
                                    {% endif %}
                                    {% if 'subject_delete' in request.permissions or request.user.is_superuser %}
                                    <a href="{% url 'subjects_delete' data.id %}"  class="bozero"><span data-toggle="tooltip" title="Delete"style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                                    {% endif %}
                                   </td>
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>
                    </div>
                 </div>
            </div>
            {% endif %}

        </div>
    </div>
    </div>



 {% endblock %}
 {% block script_block %}

 {% endblock  %}