{% extends 'base.html' %}


{% block body_block %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
           <h4>Phone Call Log</h4>
        </div>
     </div>
    <div class="col-md-12">
        <div class="row">
          {% if 'phone_call_log_add' in request.permissions or request.user.is_superuser %}
            <div class="col-md-4">
                <div class="card" style="padding: 10px;">
                    <div class="main-header">
                        
                        {% if view %}
                        <h4> View Phone Call Log</h4>
                        {% elif edit %}
                        <h4> Edit Phone Call Log</h4>
                        {% else %}
                        <h4>Add Phone Call Log</h4>                              
                        {% endif %}
                     </div><hr>
                     <form method="post">
                      {% csrf_token %}
                     <div class="row">
                        {% for data in form %}
                        <div class="col-md-12 mb-3">
                            {{data.label_tag}}
                          {{ data }}
                        </div>
                        {% endfor %}
                      

                      </div><br>
                      <center>
                        {% if not view %}
                      <button type="submit" class="btn btn-primary">Save</button>
                    </center>
                      {% endif %}
                    </form>
                </div>
            </div>
            {% endif %}
            {% if 'phone_call_log_view' in request.permissions or request.user.is_superuser %}
            <div class="col-md-8">
                <div class="card" style="padding: 10px;">
                    <div class="main-header">
                        <h4>Phone Call Log List</h4>
                     </div><hr>
                    <div class="table-responsive">
                    <table id="tableID" class="display"  >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th> Date</th>
                                <th>Next Follow Up Date</th>
                                <th>Call Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for data in records %}
                            <tr>
                                <td>{{data.name}}</td>
                                <td>{{data.phone}}</td>
                                <td>{{data.date}}</td>
                                <td>{{data.next_follow_up_date}}</td>
                                <td>{{data.call_type}}</td>
                                <td>   
                                  {% if 'phone_call_log_view' in request.permissions or request.user.is_superuser %}
                                  <a href="{% url 'phone_call_log_view' data.id %}"  class="bozero"><span data-toggle="tooltip" title="view"style="color: black;"  ><i class='fa fa-server'></i></a>
                                  {% endif %}
                                  {% if 'phone_call_log_edit' in request.permissions or request.user.is_superuser %}
                                  <a href="{% url 'phone_call_log_edit' data.id %}"  class="bozero"><span data-toggle="tooltip" title="edit"style="color: black;"><i class='fa fa-edit'></i></a>
                                  {% endif %}
                                  {% if 'phone_call_log_delete' in request.permissions or request.user.is_superuser %}
                                  <a href="{% url 'phone_call_log_delete' data.id %}" class="bozero"><span data-toggle="tooltip" title="delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                                  {% endif %}
                                   </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                
                    </table>
                    </div>
                 </div>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
  <!-- modal Start -->

  <div class="modal fade view" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
          <div class="row">
            {% for data in form %}
            <div class="col-md-4 mb-3">
                {{data.label_tag}}
              {{ data }}
            </div>
            {% endfor %}
          </div>
          <br>
          <center>
          <button type="button" class="btn btn-primary">Submit</button>
        </center>
        </form>
        </div>
      </div>
    </div>
  </div>
  
     <!-- modal End -->
    

 {% endblock %}
 {% block script_block %}

 {% endblock  %}