{% extends 'base.html' %}
{% block head_block %}

<style>
  .vertical-nav {
    width: 100%;
    background-color: #f8f9fa;
  }

  .vertical-nav .nav-link {
    display: block;
    padding: 8px 16px;
    color: #343a40;
  }

  .vertical-nav .nav-link:hover {
    background-color: #e9ecef;
  }
  .active{
    background-color: #e9ecef;
  }
</style>
{% endblock  %}
{% block body_block %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
           <h4>SetUp FrontOffice</h4>
        </div>
     </div>
    <div class="col-md-12">
        <div class="row">
          {% if 'setup_front_office_view' in access.roles.permissions or request.user.is_superuser %}
          <div class="col-md-3">
            <div class="card" style="padding: 10px;">
                 
                 <nav class="vertical-nav">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'setup_front_office_purpose'  %}">Purpose</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="{% url 'setup_front_office_complain_type'  %}">Complain Type</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'setup_front_office_source'  %}">Source</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'setup_front_office_reference'  %}">Reference</a>
                      </li>
                  </ul>
                </nav>
                </div>
                </div>
                {% endif %}         

            <div class="col-md-4">
                <div class="card" style="padding: 10px;">
                    <div class="main-header">
                        <h4>Edit Purpose</h4>
                     </div><hr>
                     <form method="post">
                      {% csrf_token %}
                     <div class="row">
                        {% for data in form %}
                        <div class="col-md-12 mb-3">
                            {{data.label_tag}}
                          {{ data }}
                        </div>
                        {% endfor %}                    

                      </div><br>
                      <center>
                      <button type="submit" class="btn btn-primary">Save</button></center>
                    </form>
                 </div>
            </div>           
        </div>
    </div>
  </div>
  

 {% endblock %}
 {% block script_block %}

 {% endblock  %}