{% extends 'base.html' %}


{% block body_block %}
{% load static %}
<!-- general card image change -->
<style>
    @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
    /* @import url('https://fonts.googleapis.com/css?family=Raleway'); */

    // variables
    $base-color: cadetblue;
    $base-font: 'Raleway', sans-serif;

    body {
        font-family: $base-font;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: lighten($base-color, 45%);
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-family: inherit;
        margin: 0 0 .75em 0;
        color: desaturate($base-color, 15%);
        text-align: center;
    }

    .box {
        display: block;
        min-width: 200px;
        height: 300px;
        margin: 10px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        overflow: hidden;
    }

    .upload-options {
        position: relative;
        height: 75px;
        background-color: $base-color;
        cursor: pointer;
        overflow: hidden;
        text-align: center;
        transition: background-color ease-in-out 150ms;



        & input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        & label {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            font-weight: 400;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            overflow: hidden;

            &::after {
                font-family: 'Material Icons';
                position: absolute;
                font-size: 2.5rem;
                color: rgba(230, 230, 230, 1);
                top: calc(50% - 2.5rem);
                left: calc(50% - 1.25rem);
                z-index: 0;
            }

            & span {
                display: inline-block;
                width: 50%;
                height: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                vertical-align: middle;
                text-align: center;

                &:hover i.material-icons {
                    color: lightgray;
                }
            }
        }
    }


    .js--image-preview,#logo-preview {
        height: 225px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-image: url('');
        background-color: white;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        &::after {
            content: "photo_size_select_actual";
            font-family: 'Material Icons';
            position: relative;
            font-size: 4.5em;
            color: rgba(230, 230, 230, 1);
            top: calc(50% - 3rem);
            left: calc(50% - 2.25rem);
            z-index: 0;
        }

        &.js--no-default::after {
            display: none;
        }

        &:nth-child(2) {
            background-image: url('http://bastianandre.at/giphy.gif');
        }
    }

    i.material-icons {
        transition: color 100ms ease-in-out;
        font-size: 2.25em;
        line-height: 55px;
        color: white;
        display: block;
    }

    .drop {
        display: block;
        position: absolute;
        background: transparentize($base-color, .8);
        border-radius: 100%;
        transform: scale(0);
    }

    .animate {
        animation: ripple 0.4s linear;
    }

    @keyframes ripple {
        100% {
            opacity: 0;
            transform: scale(2.5);
        }
    }
</style>
<!-- general card image change -->
<div class="container-fluid">
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
<div class="row">
    <div class="col-md-3" style="padding: 0%;">
     
            <div class="box">
                
                <div class="js--image-preview">
                    <img  class="logo-preview" id="logo-preview" src="{% if record.about_us_image %}{{record.about_us_image.url}}{% endif %}" alt="logo">
                </div>
                {% if 'banner_image_add' in request.permissions or request.user.is_superuser %}
                <div class="upload-options">
                    <label>
                        <p class="btn btn-primary" style="width: 100%;"> About Us</p>
                        <input type="file" class="image-upload" accept="image/*" name="about_us_image" onchange="remove('.logo-preview')" />
                    </label>
                </div>
                {% endif %}
            </div>
    </div>
    {% if 'banner_image_view' in request.permissions or request.user.is_superuser %}
        <div class="col-md-9" style="padding: 0%;">
            <div class="card" style="padding: 30px;">
                <div class="card-body">
                    <div class="row ">
                        <h4>Website Details</h4>
                        <div class="col-md-6 mb-3">
                            <label for="student_admission"> Title Of Website</label>
                            {{form.top_title}}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="student_admission">Main Title</label>
                            {{form.first_title}}

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="student_admission">Main Title</label>
                            {{form.last_title}}

                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="student_admission">School Address</label>
                            {{form.school_address}}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="student_admission">Phone</label>
                            {{form.contact_number}}
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="student_admission">Email </label>
                            {{form.email}}
                        </div>

                        <div class="col-md-12 mb-3 "><br>
                            <h4>About Us </h4>
                            <div class="col-md-12 mb-3">
                                <label for="student_admission">Title </label>
                                {{form.about_us_title}}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="student_admission">Description </label>
                                {{form.about_us_description}}
                            </div>

                        </div>
                        <div class="col-md-12 mb-3"><br>
                            <h4>Social Networks </h4>
                            <div class="col-md-6 mb-3">
                                <label for="student_admission">Twitter Link </label>
                                {{form.twitter_link}}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="student_admission">Facebook Link </label>
                                {{form.facebook_link}}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="student_admission">LinkedIn Link </label>
                                {{form.linkedIn_link}}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="student_admission">Instagram Link </label>
                                {{form.Instagram_link}}
                            </div>

                        </div>


                        <div class="col-md-4 mb-3"><br>
                            <button type="submit" class="btn btn-primary" style="float: right;">Save</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>


</div>



{% endblock %}
{% block script_block %}
<!-- ===========image logo start================  -->
<script>
    function initImageUpload(box) {
        
        let uploadField = box.querySelector('.image-upload');

        uploadField.addEventListener('change', getFile);

        function getFile(e) {
            let file = e.currentTarget.files[0];
            checkType(file);
        }

        function previewImage(file) {
            let thumb = box.querySelector('.js--image-preview'),
                reader = new FileReader();

            reader.onload = function () {
                thumb.style.backgroundImage = 'url(' + reader.result + ')';
            }
            reader.readAsDataURL(file);
            thumb.className += ' js--no-default';
        }

        function checkType(file) {
            let imageType = /image.*/;
            if (!file.type.match(imageType)) {
                throw 'Datei ist kein Bild';
            } else if (!file) {
                throw 'Kein Bild gewählt';
            } else {
                previewImage(file);
            }
        }

    }

    // initialize box-scope
    var boxes = document.querySelectorAll('.box');

    for (let i = 0; i < boxes.length; i++) {
        let box = boxes[i];
        initDropEffect(box);
        initImageUpload(box);
        
    }



    /// drop-effect
    function initDropEffect(box) {
        
        let area, drop, areaWidth, areaHeight, maxDistance, dropWidth, dropHeight, x, y;

        // get clickable area for drop effect
        area = box.querySelector('.js--image-preview');
        area.addEventListener('click', fireRipple);

        function fireRipple(e) {
            
            area = e.currentTarget
            // create drop
            if (!drop) {
                drop = document.createElement('span');
                drop.className = 'drop';
                this.appendChild(drop);
            }
            // reset animate class
            drop.className = 'drop';

            // calculate dimensions of area (longest side)
            areaWidth = getComputedStyle(this, null).getPropertyValue("width");
            areaHeight = getComputedStyle(this, null).getPropertyValue("height");
            maxDistance = Math.max(parseInt(areaWidth, 10), parseInt(areaHeight, 10));

            // set drop dimensions to fill area
            drop.style.width = maxDistance + 'px';
            drop.style.height = maxDistance + 'px';

            // calculate dimensions of drop
            dropWidth = getComputedStyle(this, null).getPropertyValue("width");
            dropHeight = getComputedStyle(this, null).getPropertyValue("height");

            // calculate relative coordinates of click
            // logic: click coordinates relative to page - parent's position relative to page - half of self height/width to make it controllable from the center
            x = e.pageX - this.offsetLeft - (parseInt(dropWidth, 10) / 2);
            y = e.pageY - this.offsetTop - (parseInt(dropHeight, 10) / 2) - 30;

            // position drop and animate
            drop.style.top = y + 'px';
            drop.style.left = x + 'px';
            drop.className += ' animate';
            e.stopPropagation();
            

        }
    }

</script>
<script>
    function remove(classs) {
        $(classs).hide();
    }
</script>
<!-- ===========image logo end================  -->
{% endblock %}