{% extends 'student_base.html' %}


{% block body_block %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
            <h4>Books </h4>
        </div>
    </div>

<div class="col-md-12">
    <div class="card" style="padding: 10px;">
        <div class="table-responsive">
            <table id="tableID" class="display">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Publisher</th>
                        <th>Author</th>
                        <th>Subject</th>
                        <th>Rank Number</th>
                        <th>Qty</th>
                        <th>Book Price</th>
                        <th>Post Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in records %}
                    <tr>
                        <td>{{data.book.book_title}}</td>
                        <td>{{data.book.publisher}}</td>
                        <td>{{data.book.author}}</td>
                        <td>{{data.book.subject}}</td>
                        <td>{{data.book.rank_number}}</td>
                        <td>{{data.book.qty}}</td>
                        <td>{{data.book.book_price}}</td>
                        <td>{{data.book.post_date}}</td>
                       
                    </tr>
                    {% endfor %}
             

                </tbody>

            </table>
        </div>
    </div>
</div>
</div>


{% endblock %}
{% block script_block %}

{% endblock %}