{% extends 'student_base.html' %}


{% block body_block %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
            <h4>Online Exam </h4>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card" style="padding: 10px;border-top: 5px solid black;">
            
            <div class="table-responsive">
                <table id="tableID" class="display">
                    <thead>
                        <tr>
                            <th>Exam</th>
                            <th>Date From</th>
                            <th>Date To</th>
                            <th>Duration</th>
                            <th>Total Attempt</th>
                            <th>Attempted</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block script_block %}

{% endblock %}